Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

deploy_thelessnas:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessnas.config.system.build.toplevel --no-nom -j 12 --eval-workers 1
    - echo "$(readlink -f ./result-)" > generationPath
  - name: diff
    image: bash
    depends_on:
    - build
    commands:
  ...

deployment:
  depends_on:
  - build
  image: bash
  environment:
    DEPLOYMENT_KEY_THELESSNAS:
      from_secret: DEPLOYMENT_KEY_THELESSNAS
    NIX_SSHOPTS: -i ./deployment
  commands:
  - echo "$DEPLOYMENT_KEY_THELESSNAS" > deployment
  - chmod 400 deployment
  - nix run .#deploy-thelessnas -- deployment "$(cat generationPath)"

flake_check:
  steps:
  - name: check
    image: bash
    commands:
    - nix flake check --show-trace

build_pkgs:
  steps:
  - name: buildAll
    image: bash
    commands:
    - nix run .#buildAllx86Pkgs -- --no-nom --no-link

deploy:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-nom
    - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)
  - name: deployment
    when:
    - event: deployment
    - branch: main
  ...

deploy_thelessone:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-nom -j 12 --eval-workers 1
    - echo "$(readlink -f ./result-)" > generationPath
  - name: diff
    depends_on:
    - build
    image: bash
    commands:
    - echo "Full diff"
  ...

kickstart deployment:
  depends_on:
  - build
  image: bash
  environment:
    DEPLOYMENT_KEY_THELESSNAS:
      from_secret: DEPLOYMENT_KEY_THELESSNAS
  commands:
  - echo "$DEPLOYMENT_KEY_THELESSNAS" > priv
  - chmod 400 priv
  ...

deploy_yuri:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.yuri.config.system.build.toplevel --no-nom
    - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)
  - name: deployment
    when:
    - event: deployment
    - branch: main
  ...

flake.lock: Update
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(shirayuri): lazy lutris -> lutris
  configs/shirayuri/gaming/default.nix
Due: flake_check

feat(shirayuri): add dwproton-bin
  configs/shirayuri/configuration.nix
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: update fixes
  modules/by-name/l/librewolf.nix
  modules/by-name/m/monado.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(nixd): import overlays and external modules
  .vscode/nixpkgs-extended.nix
  .vscode/settings.json
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(kuroyuri): add tlp
  configs/kuroyuri/hardware/boot.nix
  configs/kuroyuri/hardware/cpu.nix
  configs/kuroyuri/hardware/default.nix
  configs/kuroyuri/hardware/power.nix
Due: flake_check

feat(kuroyuri): add vesktop and bitwarden
  configs/kuroyuri/configuration.nix
Due: flake_check

fix(shirayuri/vr): bunch of fixes and qol
  configs/shirayuri/hardware/boot.nix
  modules/vr/valve-index-audio.nix
  modules/vr/vr.nix
  modules/vr/vrchat.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: remove lazy apps
  .vscode/settings.json
  configs/shirayuri/configuration.nix
  configs/shirayuri/gaming/default.nix
Due: flake_check

chore: remove flatpaks
  configs/himeyuri/configuration.nix
  configs/shirayuri/configuration.nix
  flake.lock
  flake.nix
  modules/by-name/f/flatpak.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(catppuccin): with pkgs fix
  nix/modules/catppuccin.nix
Due: flake_check

fix: plasma -> plasma6
  nix/modules/catppuccin.nix
  nix/modules/theme.nix
Due: flake_check

fix: a bunch of fixes since the refactor
  nix/configs/shirayuri/hardware/disks.nix
  nix/configs/shirayuri/hardware/swap.nix
  nix/configs/shirayuri/system.nix
  nix/modules/audio.nix
  nix/modules/cosmic.nix
  nix/modules/shell.nix
  nix/modules/vscode.nix
Due: flake_check

fix: ssh configuration
  nix/configs/shirayuri/networking/ssh.nix
Due: flake_check

fix: key paths
  nix/configs/shirayuri/networking/ssh.nix
  nix/modules/yubikey/yubikey.nix
Due: flake_check

fix: gtk theming, gradia screenshot editing
  nix/modules/cosmic.nix
  nix/modules/shell.nix
  nix/modules/theme.nix
Due: flake_check

feat: add kooha
  nix/modules/cosmic.nix
Due: flake_check

feat: improve nixd language server, add starrydex
  .vscode/nixd-workspace.nix
  .vscode/nixpkgs-extended.nix
  .vscode/settings.json
  nix/modules/cosmic.nix
  nix/pkgs/starrydex.nix
Due: flake_check

feat: bunch of improvements, added thunderbird
  nix/configs/shirayuri/desktop.nix
  nix/configs/shirayuri/fcitx5.nix
  nix/configs/shirayuri/gaming/general.nix
  nix/configs/shirayuri/gaming/vrchat.nix
  nix/configs/shirayuri/system.nix
  nix/modules/catppuccin.nix
  nix/modules/cosmic.nix
  nix/modules/shell.nix
  nix/modules/yubikey/yubikey.nix
Due: flake_check

fix(desktop): start solaar minimized
  nix/configs/shirayuri/desktop.nix
Due: flake_check

fix(desktop): solaar udev output
  nix/configs/shirayuri/desktop.nix
Due: flake_check

fix: remove rust overlay
  flake.lock
  flake.nix
  nix/configs/shirayuri/desktop.nix
  nix/modules/cosmic.nix
  nix/pkgs/starrydex.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

Path conditions:
  deploy_thelessnas: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**
  deployment: (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**)
  flake_check: any of: flake.lock, **/*.nix
  build_pkgs: any of: flake.lock, pkgs/**/*
  deploy: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deploy_thelessone: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  kickstart deployment: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  deploy_yuri: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**
