Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

Path conditions:
  deploy_thelessnas: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**
  deployment: (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**)
  flake_check: any of: flake.lock, **/*.nix
  build_pkgs: any of: flake.lock, pkgs/**/*
  deploy: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deploy_thelessone: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  kickstart deployment: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  deploy_yuri: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**

fix(thelessone/beets): use lidarr format
  configs/thelessone/beets.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update 16.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/beets): don't allow falsey values
  configs/thelessone/beets.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix: openjdk build failure
  configs/common/required/nix.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: switch to gimp3
  configs/kuroyuri/configuration.nix
  configs/shirayuri/configuration.nix
Due: flake_check

fix: openjdk headless
  configs/common/required/nix.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: only apply certs to theless.one
  configs/thelessone/servers/domains.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/suwayomi): kotlin compilation ram
  configs/thelessone/servers/suwayomi.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone): java commands
  configs/thelessone/servers/minecraft/java.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone): use prismlauncher stable
  configs/thelessone/configuration.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update 17.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone/minecraft): upgrade to version 1.21.7
  configs/thelessone/servers/minecraft/mods.nix
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(transmission): use type simple
  modules/by-name/t/transmission.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone/minecraft): remove distant horizons and chunky
  configs/thelessone/servers/minecraft/mods.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/minecraft): add bot token and discord mc chat configuration
  configs/thelessone/secrets.yaml
  configs/thelessone/servers/minecraft/servers.nix
  configs/thelessone/servers/minecraft/whitelist.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/minecraft): add server icon
  configs/thelessone/servers/minecraft/icon.png
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/minecraft): remove backup messages
  configs/thelessone/servers/minecraft/backups.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/minecraft): disable mspt announcements
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update 18.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone/minecraft): restart minecraft when refreshing template
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/minecraft): change difficulty to hard
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat: add iperf to theless{one,nas}
  configs/thelessnas/configuration.nix
  configs/thelessone/configuration.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone): add rbm
  configs/thelessone/configuration.nix
  configs/thelessone/secrets.yaml
  configs/thelessone/servers/uptime-kuma.nix
  configs/thelessone/servers/woodpecker.nix
  flake.lock
  flake.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone/minecraft): add distant horizons, other mods, and players to the whitelist
  configs/thelessone/servers/minecraft/mods.nix
  configs/thelessone/servers/minecraft/whitelist.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/minecraft): add 2 players, don't allow any commands
  configs/thelessone/servers/minecraft/servers.nix
  configs/thelessone/servers/minecraft/whitelist.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(caddy): transfer nanoyaki.space and make files.theless.one public
  configs/thelessone/servers/caddy.nix
  configs/yuri/servers/caddy.nix
  configs/yuri/servers/default.nix
  configs/yuri/servers/domains.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update 19.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore(thelessone/minecraft): nix-ify configuration
  configs/thelessone/servers/minecraft/servers.nix
  configs/thelessone/servers/minecraft/smp/bluemap/core.conf
  configs/thelessone/servers/minecraft/smp/bluemap/plugin.conf
  configs/thelessone/servers/minecraft/smp/bluemap/webapp.conf
  configs/thelessone/servers/minecraft/smp/bluemap/webserver.conf
  configs/thelessone/servers/minecraft/smp/voicechat-server.properties
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix: update nanopkgs and md2img
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update 20.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone/minecraft): restrict distance down to 12 chunks
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix: use new network ip addresses
  .woodpecker/deploy_thelessone.yaml
  configs/thelessnas/deployment.nix
  configs/thelessone/deployment.nix
  configs/thelessone/hardware/mounts.nix
  configs/thelessone/servers/caddy.nix
  deploy.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: disable test cuz i can't be asked right now
  configs/thelessone/beets.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/minecraft): add creative server
  configs/thelessone/servers/minecraft/mods.nix
  configs/thelessone/servers/minecraft/servers.nix
  configs/thelessone/servers/minecraft/whitelist.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/minecraft): use velocity for proxying minecraft
  .sops.yaml
  configs/thelessone/secrets.yaml
  configs/thelessone/servers/minecraft/mods.nix
  configs/thelessone/servers/minecraft/secrets.yaml
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/minecraft): add do a barrel roll
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/minecraft): add do axiom to creative
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/minecraft): set fabric package for creative smp
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/minecraft): add missing dependency for do a barrel roll
  configs/thelessone/servers/minecraft/mods.nix
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment
