Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

Path conditions:
  deploy_thelessnas: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**
  deployment: (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**)
  flake_check: any of: flake.lock, **/*.nix
  build_pkgs: any of: flake.lock, pkgs/**/*
  deploy: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deploy_thelessone: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  kickstart deployment: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  deploy_yuri: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**

flake.lock: Update
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: add adb and scrcpy for cam
  nix/configs/shirayuri/hardware/cam.nix
Due: flake_check

feat: linux arctis manager, vm ovmf
  nix/configs/shirayuri/desktop.nix
  nix/configs/shirayuri/hardware/headphones.nix
  nix/configs/shirayuri/hardware/virtualisation.nix
  nix/configs/shirayuri/system.nix
  nix/modules/theme.nix
Due: flake_check

fix: nixfmt-rfc -> nixfmt
  nix/dev.nix
Due: flake_check

feat: ci, nixd, and more
  .forgejo/workflows/check.yaml
  nix/configs/shirayuri/_nixd-home-options.nix
  nix/configs/shirayuri/_nixd-nixos-options.nix
  nix/configs/shirayuri/_nixd-nixpkgs.nix
  nix/configs/shirayuri/desktop.nix
  nix/configs/shirayuri/hardware/cpu.nix
  nix/configs/shirayuri/networking/general.nix
  nix/configs/shirayuri/secrets.yaml
Due: flake_check

fix: binary cache
  nix/configs/shirayuri/networking/general.nix
  nix/modules/nix.nix
Due: flake_check

feat(ci): upload build result to binary cache
  .forgejo/workflows/check.yaml
Due: none

fix(ci): improve caching
  .forgejo/workflows/cache.yaml
Due: none

fix(ci): to-check -> to-cache
  .forgejo/workflows/cache.yaml
Due: none

fix(ci): matrix key
  .forgejo/workflows/cache.yaml
Due: none

fix(ci): check for login
  .forgejo/workflows/cache.yaml
Due: none

fix(ci): set max parallel jobs
  .forgejo/workflows/cache.yaml
Due: none

chore(shirayuri): switch to pangolin
  nix/configs/shirayuri/_nixd-home-options.nix
  nix/configs/shirayuri/_nixd-nixos-options.nix
  nix/configs/shirayuri/networking/wireguard.nix
Due: flake_check

chore(shirayuri): switch to discord
  nix/configs/shirayuri/desktop.nix
  nix/configs/shirayuri/system.nix
  nix/modules/catppuccin.nix
  nix/modules/cosmic.nix
  nix/modules/plasma.nix
Due: flake_check

fix: discord unfree
  nix/configs/shirayuri/system.nix
Due: flake_check

fix: switch back to vesktop for now
  nix/configs/shirayuri/desktop.nix
  nix/configs/shirayuri/system.nix
  nix/modules/cosmic.nix
  nix/modules/plasma.nix
Due: flake_check

fix: vesktop
  nix/configs/shirayuri/desktop.nix
  nix/configs/shirayuri/system.nix
Due: flake_check

chore: update locks
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: insert warning before evaluation
  nix/configs/shirayuri/_nixd-home-options.nix
  nix/configs/shirayuri/_nixd-nixos-options.nix
Due: flake_check
