Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

deploy_thelessnas:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessnas.config.system.build.toplevel --no-nom -j 12 --eval-workers 1
    - echo "$(readlink -f ./result-)" > generationPath
  - name: diff
    image: bash
    depends_on:
    - build
    commands:
  ...

deployment:
  depends_on:
  - build
  image: bash
  environment:
    DEPLOYMENT_KEY_THELESSNAS:
      from_secret: DEPLOYMENT_KEY_THELESSNAS
    NIX_SSHOPTS: -i ./deployment
  commands:
  - echo "$DEPLOYMENT_KEY_THELESSNAS" > deployment
  - chmod 400 deployment
  - nix run .#deploy-thelessnas -- deployment "$(cat generationPath)"

flake_check:
  steps:
  - name: check
    image: bash
    commands:
    - nix flake check --show-trace

build_pkgs:
  steps:
  - name: buildAll
    image: bash
    commands:
    - nix run .#buildAllx86Pkgs -- --no-nom --no-link

deploy:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-nom
    - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)
  - name: deployment
    when:
    - event: deployment
    - branch: main
  ...

deploy_thelessone:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-nom -j 12 --eval-workers 1
    - echo "$(readlink -f ./result-)" > generationPath
  - name: diff
    depends_on:
    - build
    image: bash
    commands:
    - echo "Full diff"
  ...

kickstart deployment:
  depends_on:
  - build
  image: bash
  environment:
    DEPLOYMENT_KEY_THELESSNAS:
      from_secret: DEPLOYMENT_KEY_THELESSNAS
  commands:
  - echo "$DEPLOYMENT_KEY_THELESSNAS" > priv
  - chmod 400 priv
  ...

deploy_yuri:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.yuri.config.system.build.toplevel --no-nom
    - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)
  - name: deployment
    when:
    - event: deployment
    - branch: main
  ...

fix(modules/jellyfin): allow render group
  modules/by-name/j/jellyfin.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone): vpn secrets
  configs/thelessone/secrets/host.yaml
Due: none

chore: Update 06.08.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(shirayuri): add r2modman
  configs/shirayuri/gaming/default.nix
Due: flake_check

chore: Update 07.08.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(shirayuri): add icon for r2modman
  configs/shirayuri/gaming/default.nix
Due: flake_check

fix: correct boot entry for rb
  modules/systems/all/nix.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(shirayuri): add icons for anime games
  configs/shirayuri/gaming/anime-games.nix
Due: flake_check

feat(modules/fireshare): init
  modules/by-name/f/fireshare.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone): configure strict dependency
  configs/thelessone/servers/lab.nix
  configs/thelessone/servers/stash.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update nanopkgs 08.08.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update 08.08.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/vr): disable insecure unityhub for now
  modules/vr/vrchat.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/fireshare): use backendListenAddress
  modules/by-name/f/fireshare.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone/fireshare): init
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/default.nix
  configs/thelessone/servers/fireshare.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(modules/fireshare): remove infinite recursion
  modules/by-name/f/fireshare.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/fireshare): typo one-shot -> oneshot
  modules/by-name/f/fireshare.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(modules/fireshare): unconditional directories
  modules/by-name/f/fireshare.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/fireshare): use correct user and group
  modules/by-name/f/fireshare.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/fireshare): after -> wantedBy
  modules/by-name/f/fireshare.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/fireshare): wrapper paths
  modules/by-name/f/fireshare.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: Update nanopkgs 08.08.25 04:31
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/fireshare): set dataDir mode
  modules/by-name/f/fireshare.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/fireshare): delete file conditionally
  modules/by-name/f/fireshare.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/fireshare): split args
  modules/by-name/f/fireshare.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: Update nanopkgs 08.08.25 05:18
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(modules/fireshare): upgrade db
  flake.lock
  modules/by-name/f/fireshare.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/fireshare): home mode
  modules/by-name/f/fireshare.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/fireshare): jobs db location
  flake.lock
  modules/by-name/f/fireshare.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: remove meow init
  configs/meow/shell.nix
  modules/systems/all/shell.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update nanopkgs 08.08.25 17:02
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/minecraft): don't backup datapacks and .bak files
  configs/thelessone/servers/minecraft/backups.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(modules/fireshare): fireshare-cli -> fireshare
  flake.lock
  modules/by-name/f/fireshare.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/fireshare): ConditionFileNotEmpty -> ConditionPathExists
  modules/by-name/f/fireshare.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/fireshare): woopsies, unitConfig, not serviceConfig
  modules/by-name/f/fireshare.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update 09.08.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update 10.08.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(shirayuri): add waydroid script for libndk
  configs/shirayuri/configuration.nix
Due: flake_check

feat(modules): add caddy cache handler for fireshare
  modules/by-name/f/fireshare.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update nanopkgs 10.08.25 18:07
  flake.lock
  flake.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

Path conditions:
  deploy_thelessnas: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**
  deployment: (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**)
  flake_check: any of: flake.lock, **/*.nix
  build_pkgs: any of: flake.lock, pkgs/**/*
  deploy: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deploy_thelessone: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  kickstart deployment: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  deploy_yuri: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**
