Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

deploy_thelessnas:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessnas.config.system.build.toplevel --no-nom -j 12 --eval-workers 1
    - echo "$(readlink -f ./result-)" > generationPath
  - name: diff
    image: bash
    depends_on:
    - build
    commands:
  ...

deployment:
  depends_on:
  - build
  image: bash
  environment:
    DEPLOYMENT_KEY_THELESSNAS:
      from_secret: DEPLOYMENT_KEY_THELESSNAS
    NIX_SSHOPTS: -i ./deployment
  commands:
  - echo "$DEPLOYMENT_KEY_THELESSNAS" > deployment
  - chmod 400 deployment
  - nix run .#deploy-thelessnas -- deployment "$(cat generationPath)"

flake_check:
  steps:
  - name: check
    image: bash
    commands:
    - nix flake check --show-trace

build_pkgs:
  steps:
  - name: buildAll
    image: bash
    commands:
    - nix run .#buildAllx86Pkgs -- --no-nom --no-link

deploy:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-nom
    - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)
  - name: deployment
    when:
    - event: deployment
    - branch: main
  ...

deploy_thelessone:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-nom -j 12 --eval-workers 1
    - echo "$(readlink -f ./result-)" > generationPath
  - name: diff
    depends_on:
    - build
    image: bash
    commands:
    - echo "Full diff"
  ...

kickstart deployment:
  depends_on:
  - build
  image: bash
  environment:
    DEPLOYMENT_KEY_THELESSNAS:
      from_secret: DEPLOYMENT_KEY_THELESSNAS
  commands:
  - echo "$DEPLOYMENT_KEY_THELESSNAS" > priv
  - chmod 400 priv
  ...

deploy_yuri:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.yuri.config.system.build.toplevel --no-nom
    - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)
  - name: deployment
    when:
    - event: deployment
    - branch: main
  ...

chore: Update killheal 29.07.25
  configs/thelessone/servers/minecraft/overlay.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/minecraft): update killheal, again
  configs/thelessone/servers/minecraft/overlay.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore(thelessone/minecraft): add TwistOfKills
  configs/thelessone/servers/minecraft/whitelist.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update 30.07.25
  flake.lock
  flake.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update killheal 30.07.25
  configs/thelessone/servers/minecraft/overlay.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update killheal 30.07.25, rev 2
  configs/thelessone/servers/minecraft/overlay.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/minecraft): add killheal nix package
  configs/thelessone/servers/minecraft/overlay.nix
  configs/thelessone/servers/minecraft/servers.nix
  flake.lock
  flake.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update 31.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update 01.08.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update nanopkgs 01.08.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update 02.08.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: update wireguard secrets
  configs/thelessone/secrets/host.yaml
  configs/yuri/secrets/host.yaml
Due: none

chore(yuri/secrets): stringify value
  configs/yuri/secrets/host.yaml
Due: none

fix: restart vopono on wireguard config refresh
  modules/by-name/l/lab-config.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: typo
  .sops.yaml
Due: none

feat: gamemode renice
  configs/shirayuri/gaming/default.nix
Due: flake_check

chore: Update nanopkgs 02.08.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(shirayuri): add backups
  configs/shirayuri/backup.nix
  configs/shirayuri/default.nix
  configs/shirayuri/secrets/host.yaml
  configs/thelessnas/default.nix
  configs/thelessnas/restic.nix
  configs/thelessnas/secrets/host.yaml
  configs/thelessone/servers/caddy.nix
  configs/yuri/servers/restic.nix
  modules/by-name/c/caddy.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(shirayuri): disable remote backups for now
  configs/shirayuri/backup.nix
Due: flake_check

feat(shirayuri): add melonds
  configs/shirayuri/backup.nix
  configs/shirayuri/gaming/default.nix
  configs/shirayuri/gaming/emulation.nix
Due: flake_check

chore: Update 03.08.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone): add home manager for root
  configs/thelessone/default.nix
  modules/systems/all/default.nix
  modules/systems/all/nix.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(modules/vr): turn compositor percentage down
  modules/by-name/m/monado.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: check for attribute mainUser
  modules/systems/all/default.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone): add root user password
  configs/thelessone/secrets/host.yaml
Due: none

feat: use home-manager for root on every system
  configs/kuroyuri/default.nix
  configs/shirayuri/default.nix
  configs/thelessnas/default.nix
  configs/yuri/default.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_yuri

chore: Update 04.08.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update 04.08.25, rev 2
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore(thelessone/minecraft): use fabricMods set
  configs/thelessone/servers/minecraft/mods.nix
  configs/thelessone/servers/minecraft/overlay.nix
  configs/thelessone/servers/minecraft/servers.nix
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(shirayuri): add signal desktop
  configs/shirayuri/configuration.nix
Due: flake_check

fix(shirayuri,yuri): update password hash for root
  configs/shirayuri/secrets/host.yaml
  configs/yuri/secrets/host.yaml
  modules/systems/all/default.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/minecraft): gamerule datapack
  configs/thelessone/servers/minecraft/overlay.nix
  configs/thelessone/servers/minecraft/servers.nix
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: update nanopkgs
  configs/thelessone/servers/minecraft/overlay.nix
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/minecraft): move killheal
  configs/thelessone/servers/minecraft/overlay.nix
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update 05.08.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: update nanopkgs, rev 2
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: use datapacks for version 1.21.7
  configs/thelessone/servers/minecraft/datapacks.nix
  configs/thelessone/servers/minecraft/overlay.nix
  configs/thelessone/servers/minecraft/servers.nix
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessnas): add root password
  configs/thelessnas/secrets/host.yaml
Due: none

fix(thelessone): downgrade nvidia driver to production
  configs/thelessone/hardware/gpu.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

Path conditions:
  deploy_thelessnas: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**
  deployment: (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**)
  flake_check: any of: flake.lock, **/*.nix
  build_pkgs: any of: flake.lock, pkgs/**/*
  deploy: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deploy_thelessone: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  kickstart deployment: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  deploy_yuri: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**
