Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

Path conditions:
  deploy_thelessnas: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**
  deployment: (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**)
  flake_check: any of: flake.lock, **/*.nix
  build_pkgs: any of: flake.lock, pkgs/**/*
  deploy: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deploy_thelessone: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  kickstart deployment: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  deploy_yuri: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**

feat(modules/vr): lighthouse script notifications
  modules/by-name/m/monado.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/monado): opencv
  modules/by-name/m/monado.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(shirayuri/gpu): switch to lact
  configs/shirayuri/hardware/cpu.nix
  configs/shirayuri/hardware/gpu.nix
Due: flake_check

feat(shirayuri/gpu): force RADV
  configs/shirayuri/hardware/gpu.nix
Due: flake_check

fix(shirayuri/gpu): convert string keys to ints in yaml
  configs/shirayuri/hardware/gpu.nix
Due: flake_check

fix(thelessone/vaultwarden): SMTP_FROM
  configs/thelessone/servers/user-services/vaultwarden.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore(thelessone/vaultwarden): debug smtp
  configs/thelessone/servers/user-services/vaultwarden.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/audiobookshelf): allow use with VPN
  configs/thelessone/servers/media/audiobookshelf.nix
  configs/thelessone/servers/media/mtls-migration.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/mailserver): add aliases for nanoyaki
  configs/thelessone/servers/mail.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/mailserver): add contact aliases
  configs/thelessone/servers/mail.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/mailserver): setup a different user for the postmaster
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/mail.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/mailserver): add catchall alias
  configs/thelessone/servers/mail.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/mailserver): postmaster sops secret attribute
  configs/thelessone/servers/mail.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/immich): upgrade to 1.142.1 for sync fixes
  configs/thelessone/servers/immich.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(systems/all): auto delete home manager backups
  modules/systems/all/home-manager.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone/copyparty): init
  configs/thelessone/servers/user-services/copyparty.nix
  configs/thelessone/servers/user-services/default.nix
  flake.lock
  flake.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(yuri/home-assistant): add zha
  configs/yuri/servers/default.nix
  configs/yuri/servers/home-assistant.nix
  configs/yuri/servers/media.nix
Due: deployment, flake_check, deploy_yuri

fix(systems/all): one command for backup cleanup, ignore errors
  modules/systems/all/home-manager.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(yuri): disable paperless for now
  configs/yuri/servers/media.nix
Due: deployment, flake_check, deploy_yuri

chore: Update nanopkgs 18.09.25 00:04
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/copyparty): set default path
  configs/thelessone/servers/user-services/copyparty.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/copyparty): configure base settings
  configs/thelessone/servers/user-services/copyparty.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/caddy): files.theless.one -> legacyfiles.theless.one
  configs/thelessone/servers/caddy.nix
  configs/thelessone/servers/user-services/gokapi.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/copyparty): add users: hana, thomas, sebi
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/user-services/copyparty.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/copyparty): add private volumes, add ashley user
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/user-services/copyparty.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/copyparty): put @ in front of group, whoops
  configs/thelessone/servers/user-services/copyparty.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/copyparty): different directory for private volumes
  configs/thelessone/servers/user-services/copyparty.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/copyparty): add shared directories
  configs/thelessone/servers/user-services/copyparty.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/copyparty): use default theme
  configs/thelessone/servers/user-services/copyparty.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/copyparty): add user nik
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/user-services/copyparty.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/copyparty): enable usernames
  configs/thelessone/servers/user-services/copyparty.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/copyparty): disable usernames, allow 5 pw failures
  configs/thelessone/servers/user-services/copyparty.nix
  configs/thelessone/servers/user-services/default.nix
  configs/thelessone/servers/user-services/gokapi.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/radicale): init
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/mail.nix
  configs/thelessone/servers/user-services/default.nix
  configs/thelessone/servers/user-services/radicale.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/radicale): allow dovecot access
  configs/thelessone/servers/user-services/radicale.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/radicale): switch to imap
  configs/thelessone/servers/user-services/radicale.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/radicale): use getExe' to silence deprecation notice
  configs/thelessone/servers/user-services/radicale.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/ssh): start as soon as possible
  configs/thelessone/servers/ssh.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(ci): use repo specific runners
  .forgejo/workflows/update.yaml
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/user-services/forgejo.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/radicale): use different regex, disallow other calendars
  configs/thelessone/servers/user-services/radicale.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: remove some things
  configs/thelessone/configuration.nix
  configs/thelessone/servers/user-services/forgejo.nix
  configs/yuri/servers/uptime-kuma.nix
  flake.lock
  flake.nix
  modules/by-name/p/passkeys/yubikey.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri
