Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

Path conditions:
  deploy_thelessnas: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**
  deployment: (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**)
  flake_check: any of: flake.lock, **/*.nix
  build_pkgs: any of: flake.lock, pkgs/**/*
  deploy: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deploy_thelessone: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  kickstart deployment: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  deploy_yuri: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**

fix(thelessone/stash): add shoko stash api key
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/stash.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update nanopkgs 14.08.25 21:29
  configs/thelessone/servers/stash.nix
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone/stash): add ffmpeg
  configs/thelessone/hardware/gpu.nix
  configs/thelessone/servers/stash.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update 15.08.25 00:19
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone): allow ssh in initrd
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/lab.nix
  configs/thelessone/servers/ssh.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update 15.08.25 16:10
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(shirayuri/gaming): don't use lazy apps for nwjs-run
  configs/shirayuri/gaming/rpgmaker.nix
Due: flake_check

chore: Update 16.08.25 17:36
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone): add valheim server
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/default.nix
  configs/thelessone/servers/valheim.nix
  flake.lock
  flake.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update 17.08.25 01:29
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore(thelessone/valheim): use world Test12
  configs/thelessone/servers/valheim.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore(thelessone): refactor lab.nix
  configs/thelessone/default.nix
  configs/thelessone/dns.nix
  configs/thelessone/servers/caddy.nix
  configs/thelessone/servers/default.nix
  configs/thelessone/servers/homepage.nix
  configs/thelessone/servers/lab.nix
  configs/thelessone/servers/media/default.nix
  configs/thelessone/servers/media/jellyfin.nix
  configs/thelessone/servers/media/stash.nix
  configs/thelessone/servers/user-services/default.nix
  configs/thelessone/servers/user-services/fireshare.nix
  configs/thelessone/servers/user-services/forgejo.nix
  configs/thelessone/servers/user-services/suwayomi.nix
  configs/thelessone/servers/user-services/uptime-kuma.nix
  configs/thelessone/servers/user-services/vaultwarden.nix
  configs/thelessone/servers/user-services/woodpecker.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update 17.08.25 14:40
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone/audiobookshelf): init
  configs/thelessone/servers/media/audiobookshelf.nix
  configs/thelessone/servers/media/default.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone): add backups for multiple programs, improve bootup
  configs/thelessone/configuration.nix
  configs/thelessone/default.nix
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/media/audiobookshelf.nix
  configs/thelessone/servers/media/jellyfin.nix
  configs/thelessone/servers/media/stash.nix
  configs/thelessone/servers/minecraft/backups.nix
  configs/thelessone/servers/user-services/fireshare.nix
  configs/thelessone/servers/user-services/forgejo.nix
  configs/thelessone/servers/user-services/suwayomi.nix
  configs/thelessone/servers/user-services/vaultwarden.nix
  configs/thelessone/servers/valheim.nix
  configs/thelessone/vaultwarden.nix
  modules/by-name/r/restic.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update 18.08.25 04:05
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone): add backups for forgejo
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/user-services/forgejo.nix
  configs/thelessone/servers/user-services/vaultwarden.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/gokapi): init
  .gitignore
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/user-services/default.nix
  configs/thelessone/servers/user-services/gokapi.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/gokapi): redirect url
  configs/thelessone/servers/user-services/gokapi.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update 18.08.25 23:42
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/gokapi): homepage url
  configs/thelessone/servers/user-services/gokapi.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update 19.08.25 04:20
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone/valheim): add admin
  configs/thelessone/servers/valheim.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update 20.08.25 01:15
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update 20.08.25 05:02
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat!: migration to forgejo
  .forgejo/workflows/.deploy_thelessnas.yaml
  .forgejo/workflows/.deploy_thelessone.yaml
  .forgejo/workflows/.flake_check.yaml
  .forgejo/workflows/update.yaml
  .woodpecker/.deploy_thelessnas.yaml
  .woodpecker/.flake_check.yaml
  .woodpecker/deploy_thelessone.yaml
  .woodpecker/update.yaml
  README.md
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/user-services/default.nix
  configs/thelessone/servers/user-services/forgejo.nix
  modules/systems/all/home-manager.nix
  modules/systems/all/secrets.yaml
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: don't set mode for token env file, move credentials
  configs/thelessone/servers/user-services/forgejo.nix
  modules/systems/all/git.nix
  modules/systems/all/home-manager.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(ci): order of steps
  .forgejo/workflows/update.yaml
Due: none

chore(ci): use builtin env variables
  .forgejo/workflows/update.yaml
Due: none

fix(thelessone/sops): key in host.yaml
  configs/thelessone/secrets/host.yaml
Due: none

feat(thelessone/forgejo): add signing key
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/user-services/forgejo.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/forgejo): use public key, whoopsies
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/user-services/forgejo.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(ci): auto-merge update
  .forgejo/workflows/update.yaml
Due: none

fix(ci): whoopsies, set id and use correct input
  .forgejo/workflows/update.yaml
Due: none

fix(thelessone/forgejo): make runner global
  configs/thelessone/secrets/host.yaml
Due: none

fix(thelessone/forgejo): fix rendered secrets
  configs/thelessone/servers/user-services/forgejo.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/forgejo): use correct runner token
  configs/thelessone/secrets/host.yaml
Due: none

fix(ci): various issues that i've fixed in nanopkgs
  .forgejo/workflows/.deploy_thelessnas.yaml
  .forgejo/workflows/check.yaml
  .forgejo/workflows/deploy_thelessnas.yaml
  .forgejo/workflows/deploy_thelessone.yaml
  .forgejo/workflows/update.yaml
  configs/thelessone/servers/user-services/forgejo.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(ci): update -> check
  .forgejo/workflows/deploy_thelessnas.yaml
  .forgejo/workflows/deploy_thelessone.yaml
Due: none

fix(ci): check on push
  .forgejo/workflows/check.yaml
Due: none
