Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, deploy_yuri

Path conditions:
  deploy_thelessnas: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**
  deployment: (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**)
  flake_check: any of: flake.lock, **/*.nix
  build_pkgs: any of: flake.lock, pkgs/**/*
  deploy: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deploy_thelessone: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deploy_yuri: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**

fix(shirayuri): disable unity for update, add githubToken
  configs/common/optional/vr/vrchat.nix
  configs/common/required/shell.nix
  configs/shirayuri/configuration.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, deploy_yuri

fix(pkgs): build radarr from source
  nvfetcher.toml
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, deploy_yuri

fix: remove auto updates for radarr
  nvfetcher.toml
  pkgs/radarr/default.nix
  source.toml
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, deploy_yuri

feat: add nixpkgs update script runner
  update.nix
Due: flake_check

feat(thelessone): add beets
  configs/thelessone/beets.nix
  configs/thelessone/default.nix
Due: deployment, flake_check, deploy, deploy_thelessone

fix(beets): add drop2beets plugin
  configs/thelessone/beets.nix
Due: deployment, flake_check, deploy, deploy_thelessone

feat(beets): start on system startup
  configs/thelessone/beets.nix
Due: deployment, flake_check, deploy, deploy_thelessone

feat(pkgs): add drop2beets plugin derivation
  configs/thelessone/beets.nix
  pkgs/drop2beets/default.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, deploy_yuri

fix(pkgs/drop2beets): allow watchdog v6
  pkgs/drop2beets/default.nix
  pkgs/drop2beets/watchdog-version.patch
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, deploy_yuri

chore: Update 28.06.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  pkgs/_versions/new_versions.json
  update_suwayomi-server.gradleDepsHash.log
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, deploy_yuri

fix(thelessone/beets): set user home
  configs/thelessone/beets.nix
Due: deployment, flake_check, deploy, deploy_thelessone

fix(thelessone/beets): add which
  configs/thelessone/beets.nix
Due: deployment, flake_check, deploy, deploy_thelessone

fix(thelessone/beets): use dropbox instead of install_dropbox to watch directory
  configs/thelessone/beets.nix
Due: deployment, flake_check, deploy, deploy_thelessone

fix(thelessone/beets): use only default path config
  configs/thelessone/beets.nix
Due: deployment, flake_check, deploy, deploy_thelessone

feat(thelessone/beets): use same package as services for environment
  configs/thelessone/beets.nix
Due: deployment, flake_check, deploy, deploy_thelessone

fix(thelessone/beets): use bools
  configs/thelessone/beets.nix
Due: deployment, flake_check, deploy, deploy_thelessone

fix(thelessone/beets): fix album paths
  configs/thelessone/beets.nix
Due: deployment, flake_check, deploy, deploy_thelessone

feat(plasma): set ocr-eng as default ocr
  configs/common/optional/desktopmanagers/plasma.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, deploy_yuri

fix(vrchat): use python-modernize for gconf
  configs/common/optional/vr/vrchat.nix
  pkgs/modernize/default.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, deploy_yuri

chore: Update 29.06.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  pkgs/_versions/new_versions.json
  pkgs/suwayomi-server/deps.json
  update_suwayomi-server.gradleDepsHash.log
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, deploy_yuri

feat: add nixpkgs-stable for unityhub
  configs/common/optional/vr/vrchat.nix
  configs/common/required/nix.nix
  flake.lock
  flake.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, deploy_yuri

feat(ci): use remote switch, remove debug env var
  .woodpecker/.deploy_thelessnas.yaml
  .woodpecker/deploy_thelessone.yaml
  .woodpecker/update.yaml
  configs/common/required/nix.nix
  configs/yuri/configuration.nix
  configs/yuri/secrets.yaml
  deploy.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, deploy_yuri

fix(ci): use less eval workers for performance reasons
  .woodpecker/.deploy_thelessnas.yaml
  .woodpecker/deploy_thelessone.yaml
Due: none

fix(ci): change remote switch host for thelessone
  .woodpecker/deploy_thelessone.yaml
  configs/thelessnas/configuration.nix
  configs/thelessnas/secrets.yaml
  configs/yuri/configuration.nix
  configs/yuri/secrets.yaml
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, deploy_yuri

fix(ci): wait using inotify-tools
  .woodpecker/deploy_thelessone.yaml
  configs/thelessone/configuration.nix
Due: deployment, flake_check, deploy, deploy_thelessone

fix(ci): switch in local network
  .woodpecker/deploy_thelessone.yaml
  configs/thelessone/configuration.nix
  deploy.nix
Due: deployment, flake_check, deploy, deploy_thelessone

feat(thelessone): temporarily enable zfs
  configs/thelessone/default.nix
  configs/thelessone/zfs.nix
Due: deployment, flake_check, deploy, deploy_thelessone

fix(thelessone/zfs): don't import pool
  .woodpecker/.deploy_thelessnas.yaml
  .woodpecker/deploy_thelessone.yaml
  configs/thelessnas/configuration.nix
  configs/thelessone/zfs.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, deploy_yuri

fix(thelessone): run systemd tmpfiles after mounting nfs
  configs/thelessone/servers/lab.nix
Due: deployment, flake_check, deploy, deploy_thelessone

fix(pkgs/nvchecker): custom timeout in v2.18
  pkgs/nvchecker/custom-timeout.patch
  update.nix
Due: flake_check, build_pkgs

chore: Update 01.07.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  pkgs/_versions/new_versions.json
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, deploy_yuri

chore: Update 02.07.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  pkgs/_versions/new_versions.json
  pkgs/suwayomi-server/deps.json
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, deploy_yuri

fix(thelessone/gnome): disable annoying suspension broadcasts
  configs/thelessone/gnome.nix
Due: deployment, flake_check, deploy, deploy_thelessone

feat(plasma): disable rdp
  configs/common/optional/desktopmanagers/plasma.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, deploy_yuri

fix(thelessnas): disable swap
  configs/thelessnas/hardware/swap.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, deploy_yuri

fix(ci): start agents after server
  configs/thelessone/servers/woodpecker.nix
Due: deployment, flake_check, deploy, deploy_thelessone

feat(shirayuri): upgrade grayjay
  configs/shirayuri/configuration.nix
Due: flake_check

feat(yuri): turn on prowlarr, sabnzbd, and transmission
  configs/yuri/servers/media.nix
Due: deployment, flake_check, deploy_yuri

chore: Update 04.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, deploy_yuri
