Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

deploy_thelessnas:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessnas.config.system.build.toplevel --no-nom -j 12 --eval-workers 1
    - echo "$(readlink -f ./result-)" > generationPath
  - name: diff
    image: bash
    depends_on:
    - build
    commands:
  ...

deployment:
  depends_on:
  - build
  image: bash
  environment:
    DEPLOYMENT_KEY_THELESSNAS:
      from_secret: DEPLOYMENT_KEY_THELESSNAS
    NIX_SSHOPTS: -i ./deployment
  commands:
  - echo "$DEPLOYMENT_KEY_THELESSNAS" > deployment
  - chmod 400 deployment
  - nix run .#deploy-thelessnas -- deployment "$(cat generationPath)"

flake_check:
  steps:
  - name: check
    image: bash
    commands:
    - nix flake check --show-trace

build_pkgs:
  steps:
  - name: buildAll
    image: bash
    commands:
    - nix run .#buildAllx86Pkgs -- --no-nom --no-link

deploy:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-nom
    - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)
  - name: deployment
    when:
    - event: deployment
    - branch: main
  ...

deploy_thelessone:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-nom -j 12 --eval-workers 1
    - echo "$(readlink -f ./result-)" > generationPath
  - name: diff
    depends_on:
    - build
    image: bash
    commands:
    - echo "Full diff"
  ...

kickstart deployment:
  depends_on:
  - build
  image: bash
  environment:
    DEPLOYMENT_KEY_THELESSNAS:
      from_secret: DEPLOYMENT_KEY_THELESSNAS
  commands:
  - echo "$DEPLOYMENT_KEY_THELESSNAS" > priv
  - chmod 400 priv
  ...

deploy_yuri:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.yuri.config.system.build.toplevel --no-nom
    - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)
  - name: deployment
    when:
    - event: deployment
    - branch: main
  ...

fix(ci): include, don't exclude paths
  .forgejo/workflows/deploy_thelessnas.yaml
  .forgejo/workflows/deploy_thelessone.yaml
Due: none

fix(ci): new lines
  .forgejo/workflows/deploy_thelessnas.yaml
  .forgejo/workflows/deploy_thelessone.yaml
Due: none

fix(ci): ssh keys
  .forgejo/workflows/deploy_thelessnas.yaml
  .forgejo/workflows/deploy_thelessone.yaml
  flake/deploy.nix
Due: flake_check

fix(ci): flake ref . -> self
  .forgejo/workflows/deploy_thelessnas.yaml
Due: none

fix(thelessone/gpu): use reverseSync instead of offload to default to the gpu
  configs/thelessone/hardware/gpu.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(ci): thelessone -> thelessnas
  .forgejo/workflows/deploy_thelessnas.yaml
Due: none

fix(flake/deploy): silly script shenanigans
  flake/deploy.nix
Due: flake_check

fix(modules/cuda): use binaries for torch and torchvision
  modules/by-name/c/cuda.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/sops): wireguard credentials
  configs/yuri/secrets/host.yaml
Due: none

fix(flake/deploy): more silly
  flake/deploy.nix
Due: flake_check

feat(yuri/flaresolverr): init
  configs/yuri/servers/media.nix
Due: deployment, flake_check, deploy_yuri

fix(modules/cuda): python3 -> python313
  modules/by-name/c/cuda.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(ci): optimization
  .forgejo/workflows/deploy_thelessnas.yaml
  .forgejo/workflows/deploy_thelessone.yaml
  .forgejo/workflows/update.yaml
Due: none

fix(flake/deploy): remote switch script arr
  flake/deploy.nix
Due: flake_check

feat(ci): timeout inotify-wait, check deployed generation
  .forgejo/workflows/deploy_thelessone.yaml
  configs/thelessone/servers/user-services/forgejo.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(systems/fonts): caskaydia -> fira
  modules/systems/non-headless/fonts.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(ci): syntax error
  .forgejo/workflows/deploy_thelessone.yaml
Due: none

fix: remove sudo from script rb
  configs/thelessone/configuration.nix
  flake/deploy.nix
  modules/systems/all/nix.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(ci): thelessone deployment
  .forgejo/workflows/deploy_thelessone.yaml
Due: none

fix(ci): read current generation from system link
  .forgejo/workflows/deploy_thelessone.yaml
Due: none

feat(thelessone/vaultwarden): activate admin panel
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/user-services/vaultwarden.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/rbm): set affected status pages
  configs/thelessone/configuration.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/vaultwarden): set secure argon2 hash
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/user-services/vaultwarden.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(ci): watch system link instead
  .forgejo/workflows/deploy_thelessone.yaml
Due: none

chore(thelessone/vaultwarden): disable admin panel
  configs/thelessone/servers/user-services/vaultwarden.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/mailserver): init
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/default.nix
  configs/thelessone/servers/mail.nix
  flake.lock
  flake.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(ci): watch system link move
  .forgejo/workflows/deploy_thelessone.yaml
Due: none

fix(thelessone/mailserver): use 2048 bits
  configs/thelessone/servers/mail.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix: systemd critical chain optimization
  .forgejo/workflows/update.yaml
  configs/thelessone/configuration.nix
  configs/thelessone/default.nix
  configs/thelessone/dns.nix
  configs/thelessone/hardware/default.nix
  configs/thelessone/hardware/mounts.nix
  configs/thelessone/hardware/swap.nix
  configs/thelessone/networking/default.nix
  configs/thelessone/networking/deployment.nix
  configs/thelessone/networking/fireqos.nix
  configs/thelessone/networking/firewall.nix
  configs/thelessone/networking/interface.nix
  configs/thelessone/servers/domains.nix
  configs/thelessone/servers/media/audiobookshelf.nix
  configs/thelessone/servers/media/jellyfin.nix
  configs/thelessone/servers/media/stash.nix
  configs/thelessone/servers/minecraft/backups.nix
  configs/thelessone/servers/user-services/fireshare.nix
  configs/thelessone/servers/user-services/forgejo.nix
  configs/thelessone/servers/user-services/gokapi.nix
  configs/thelessone/servers/user-services/vaultwarden.nix
  configs/thelessone/servers/valheim.nix
  configs/yuri/servers/domains.nix
  configs/yuri/servers/uptime-kuma.nix
  modules/systems/non-headless/networking.nix
  modules/vr/wlx-overlay-s.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(shirayuri): add thunderbird
  configs/shirayuri/configuration.nix
Due: flake_check

fix(thelessone/mailserver): use mail.theless.one fqdn
  configs/thelessone/servers/domains.nix
  configs/thelessone/servers/mail.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/mailserver): use rsa instead
  configs/thelessone/servers/mail.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(modules/cuda): apply overlay to all python3 versions
  modules/by-name/c/cuda.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/caddy): hash mismatch
  modules/by-name/f/fireshare.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/flaresolverr): fix xvfbwrapper for flaresolverr
  modules/by-name/f/flaresolverr.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/beets): build
  configs/thelessone/beets.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/beets): patch chromium exec in kaleido
  configs/thelessone/beets.nix
  configs/thelessone/chromium.patch
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore(thelessone/beets): attempt to fix choreographer
  configs/thelessone/beets.nix
  configs/thelessone/chromium.patch
  configs/thelessone/kaleido-test.nix
  configs/thelessone/kaleido-test.py
  configs/thelessone/nix.patch
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore(thelessone/beets): disable for now
  configs/thelessone/default.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update nanopkgs 28.08.25 15:27
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

Path conditions:
  deploy_thelessnas: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**
  deployment: (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**)
  flake_check: any of: flake.lock, **/*.nix
  build_pkgs: any of: flake.lock, pkgs/**/*
  deploy: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deploy_thelessone: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  kickstart deployment: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  deploy_yuri: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**
