Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

deploy_thelessnas:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessnas.config.system.build.toplevel --no-nom -j 12 --eval-workers 1
    - echo "$(readlink -f ./result-)" > generationPath
  - name: diff
    image: bash
    depends_on:
    - build
    commands:
  ...

deployment:
  depends_on:
  - build
  image: bash
  environment:
    DEPLOYMENT_KEY_THELESSNAS:
      from_secret: DEPLOYMENT_KEY_THELESSNAS
    NIX_SSHOPTS: -i ./deployment
  commands:
  - echo "$DEPLOYMENT_KEY_THELESSNAS" > deployment
  - chmod 400 deployment
  - nix run .#deploy-thelessnas -- deployment "$(cat generationPath)"

flake_check:
  steps:
  - name: check
    image: bash
    commands:
    - nix flake check --show-trace

build_pkgs:
  steps:
  - name: buildAll
    image: bash
    commands:
    - nix run .#buildAllx86Pkgs -- --no-nom --no-link

deploy:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-nom
    - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)
  - name: deployment
    when:
    - event: deployment
    - branch: main
  ...

deploy_thelessone:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-nom -j 12 --eval-workers 1
    - echo "$(readlink -f ./result-)" > generationPath
  - name: diff
    depends_on:
    - build
    image: bash
    commands:
    - echo "Full diff"
  ...

kickstart deployment:
  depends_on:
  - build
  image: bash
  environment:
    DEPLOYMENT_KEY_THELESSNAS:
      from_secret: DEPLOYMENT_KEY_THELESSNAS
  commands:
  - echo "$DEPLOYMENT_KEY_THELESSNAS" > priv
  - chmod 400 priv
  ...

deploy_yuri:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.yuri.config.system.build.toplevel --no-nom
    - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)
  - name: deployment
    when:
    - event: deployment
    - branch: main
  ...

feat(shirayuri): add xivlauncher and bitwarden feat(yamayuri): add card-mod
  configs/shirayuri/configuration.nix
  configs/yamayuri/hass.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(shirayuri): make lact config mutable
  configs/shirayuri/hardware/gpu.nix
Due: flake_check

feat(shirayuri): add vr specilisation
  configs/shirayuri/hardware/gpu.nix
  modules/by-name/l/lact'.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

flake.lock: Update
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(yamayuri): setup backups for hass
  configs/yamayuri/default.nix
  configs/yamayuri/hardware/default.nix
  configs/yamayuri/home-automation/backups.nix
  configs/yamayuri/home-automation/db.nix
  configs/yamayuri/home-automation/hass.nix
  configs/yamayuri/home-automation/secrets.nix
  configs/yamayuri/home-automation/zigbee2mqtt/default.nix
  configs/yamayuri/home-automation/zigbee2mqtt/devices.nix
  configs/yamayuri/home-automation/zigbee2mqtt/devices.yaml
  configs/yamayuri/home-automation/zigbee2mqtt/optimization.nix
  configs/yamayuri/secrets/host.yaml
  configs/yamayuri/wireguard.nix
  modules/by-name/r/restic.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(yamayuri): restart zigbee2mqtt on secret change
  configs/yamayuri/home-automation/backups.nix
  configs/yamayuri/home-automation/db.nix
  configs/yamayuri/home-automation/zigbee2mqtt/default.nix
  configs/yamayuri/home-automation/zigbee2mqtt/devices.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(yamayuri): install instead of copy
  configs/yamayuri/home-automation/zigbee2mqtt/devices.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: aarch64 build optimizations
  configs/shirayuri/qemu.nix
  configs/yamayuri/hardware/default.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore(ci): use flake check
  .forgejo/workflows/check.yaml
Due: none

fix(ci): add tag to use
  .forgejo/workflows/check.yaml
Due: none

feat(shirayuri): add pikvm connection
  configs/shirayuri/secrets/host.yaml
  configs/shirayuri/wireguard.nix
Due: flake_check

feat(ci): migrate to create-pr and configure-git
  .forgejo/workflows/update.yaml
Due: none

fix(ci): oopsie
  .forgejo/workflows/update.yaml
Due: none

fix(ci): v1 -> v2
  .forgejo/workflows/update.yaml
Due: none

fix: remove cosmic-manager cli
  modules/by-name/t/themes/cosmic.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(ci): only run push checks on main
  .forgejo/workflows/check.yaml
Due: none

fix: remove copyparty-mount
  configs/shirayuri/configuration.nix
Due: flake_check

feat: update nanopkgs
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(kuroyuri): add ausweisapp
  configs/kuroyuri/configuration.nix
Due: flake_check

feat(himeyuri): add vesktop, switch to kde plasma
  configs/himeyuri/configuration.nix
  configs/himeyuri/default.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(himeyuri): use zulu jdk for prism
  configs/himeyuri/configuration.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: comment out stylix code
  configs/kuroyuri/configuration.nix
Due: flake_check

fix: remove shoko module
  modules/by-name/s/shoko/default.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

flake.lock: update
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(ci): use actions/create-pr v3
  .forgejo/workflows/update.yaml
Due: none

Path conditions:
  deploy_thelessnas: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**
  deployment: (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**)
  flake_check: any of: flake.lock, **/*.nix
  build_pkgs: any of: flake.lock, pkgs/**/*
  deploy: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deploy_thelessone: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  kickstart deployment: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  deploy_yuri: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**
