Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

deploy_thelessnas:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessnas.config.system.build.toplevel --no-nom -j 12 --eval-workers 1
    - echo "$(readlink -f ./result-)" > generationPath
  - name: diff
    image: bash
    depends_on:
    - build
    commands:
  ...

deployment:
  depends_on:
  - build
  image: bash
  environment:
    DEPLOYMENT_KEY_THELESSNAS:
      from_secret: DEPLOYMENT_KEY_THELESSNAS
    NIX_SSHOPTS: -i ./deployment
  commands:
  - echo "$DEPLOYMENT_KEY_THELESSNAS" > deployment
  - chmod 400 deployment
  - nix run .#deploy-thelessnas -- deployment "$(cat generationPath)"

flake_check:
  steps:
  - name: check
    image: bash
    commands:
    - nix flake check --show-trace

build_pkgs:
  steps:
  - name: buildAll
    image: bash
    commands:
    - nix run .#buildAllx86Pkgs -- --no-nom --no-link

deploy:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-nom
    - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)
  - name: deployment
    when:
    - event: deployment
    - branch: main
  ...

deploy_thelessone:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-nom -j 12 --eval-workers 1
    - echo "$(readlink -f ./result-)" > generationPath
  - name: diff
    depends_on:
    - build
    image: bash
    commands:
    - echo "Full diff"
  ...

kickstart deployment:
  depends_on:
  - build
  image: bash
  environment:
    DEPLOYMENT_KEY_THELESSNAS:
      from_secret: DEPLOYMENT_KEY_THELESSNAS
  commands:
  - echo "$DEPLOYMENT_KEY_THELESSNAS" > priv
  - chmod 400 priv
  ...

deploy_yuri:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.yuri.config.system.build.toplevel --no-nom
    - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)
  - name: deployment
    when:
    - event: deployment
    - branch: main
  ...

feat(yuri): change vpn server
  configs/yuri/secrets/host.yaml
Due: none

feat(thelessone): change vpn server
  configs/thelessone/secrets/host.yaml
Due: none

chore: Update nanopkgs 29.08.25 19:43
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone/minecraft): add ocean block 2
  configs/thelessone/servers/minecraft/servers.nix
  flake.lock
  flake.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/minecraft): use fetchFtbServer
  configs/thelessone/servers/minecraft/servers.nix
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(systems): make fcitx5 optional
  configs/kuroyuri/configuration.nix
  configs/shirayuri/configuration.nix
  modules/systems/non-headless/inputs.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/minecraft): open ocean block 2 ports
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/minecraft): add LostYuu to the whitelist
  configs/thelessone/servers/minecraft/whitelist.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(systems): keyboard.fcitx5 -> fcitx5
  configs/kuroyuri/configuration.nix
  configs/shirayuri/configuration.nix
  modules/systems/non-headless/inputs.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone/immich): add public sharing reverse proxy
  configs/thelessone/servers/default.nix
  configs/thelessone/servers/immich.nix
  configs/thelessone/servers/lab.nix
  modules/by-name/c/caddy.nix
  modules/by-name/i/immich/default.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(shirayuri): hibernation
  configs/shirayuri/hardware/swap.nix
Due: flake_check

fix(ci): exclude lock file
  .forgejo/workflows/deploy_thelessone.yaml
Due: none

fix(ci): i'm too lazy to come up with a better way of handling this
  .forgejo/workflows/deploy_thelessone.yaml
Due: none

feat: add nixpkgs-wayland
  flake.lock
  flake.nix
  modules/systems/non-headless/default.nix
  modules/systems/non-headless/nix.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/vr): start vrcx minimized
  modules/vr/vrchat.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: systemd optimization
  configs/thelessone/beets.nix
  configs/thelessone/servers/shoko.nix
  configs/thelessone/servers/ssh.nix
  configs/thelessone/servers/user-services/woodpecker.nix
  configs/yuri/servers/domains.nix
  configs/yuri/servers/uptime-kuma.nix
  modules/by-name/h/homepage-images.nix
  modules/by-name/v/vopono.nix
  modules/systems/all/ssh.nix
  modules/systems/non-headless/desktop.nix
  modules/vr/wlx-overlay-s.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: don't make osu lazy
  configs/shirayuri/gaming/default.nix
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone/minecraft): open port 25567
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update nix-minecraft 03.09.25 19:58
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone/mailserver): add user thelessone@theless.one, add hana@theless.one alias
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/mail.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/mailserver): add user vaultwarden@theless.one, fix thelessone password
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/mail.nix
  configs/thelessone/servers/user-services/vaultwarden.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat: add yamayuri
  .sops.yaml
  configs/yamayuri/configuration.nix
  configs/yamayuri/default.nix
  configs/yamayuri/hardware/boot.nix
  configs/yamayuri/hardware/default.nix
  configs/yamayuri/hardware/mounts.nix
  configs/yamayuri/networking/default.nix
  configs/yamayuri/networking/deployment.nix
  configs/yamayuri/networking/interface.nix
  configs/yamayuri/networking/ssh.nix
  configs/yamayuri/secrets/host.yaml
  configs/yamayuri/secrets/user-admin.yaml
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/paperless): set services.paperless.domain
  modules/by-name/p/paperless.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: switch to librewolf
  modules/by-name/f/firefox.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: migrate firefox -> librewolf
  configs/kuroyuri/configuration.nix
  configs/shirayuri/configuration.nix
  configs/thelessone/configuration.nix
  modules/by-name/l/librewolf.nix
  modules/vr/wlx-overlay-s.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: add librewolf settings
  configs/shirayuri/configuration.nix
  configs/shirayuri/default.nix
  configs/shirayuri/librewolf.nix
  modules/by-name/l/librewolf.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/librewolf): use librewolf bin
  modules/by-name/l/librewolf.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(yamayuri): add swap file
  configs/yamayuri/hardware/default.nix
  configs/yamayuri/hardware/swap.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(yamayuri): use raspberry pi specific packages
  configs/yamayuri/configuration.nix
  configs/yamayuri/hardware/boot.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(yamayuri): use nixos hardware options
  configs/yamayuri/hardware/boot.nix
  configs/yamayuri/hardware/default.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: add yamayuri nixosConfigurations output
  flake.nix
Due: flake_check

feat: compatibility for yamayuri
  configs/shirayuri/configuration.nix
  configs/shirayuri/default.nix
  configs/shirayuri/qemu.nix
  configs/thelessone/configuration.nix
  configs/thelessone/default.nix
  configs/thelessone/networking/deployment.nix
  flake.lock
  flake.nix
  flake/deploy.nix
  modules/by-name/t/themes/stylix.nix
  modules/systems/all/ssh.nix
  modules/systems/server/norgb.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(shirayuri): don't clear cookies on shutdown
  configs/shirayuri/librewolf.nix
Due: flake_check

feat(thelessone): init qbittorrent, disable transmission
  configs/thelessone/servers/lab.nix
  configs/thelessone/servers/media/default.nix
  configs/thelessone/servers/media/qbittorrent.nix
  configs/thelessone/servers/media/stash.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(modules/librewolf): don't clear cookies on shutdown
  configs/shirayuri/librewolf.nix
  modules/by-name/l/librewolf.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/qbittorrent): flood vpnOnly, default host
  configs/thelessone/servers/media/qbittorrent.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/qbittorrent): configure user and password
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/media/qbittorrent.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(modules/librewolf): default to ddg
  modules/by-name/l/librewolf.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/qbittorrent): change password
  configs/thelessone/secrets/host.yaml
Due: none

fix(thelessone/qbittorrent): set secret file owner
  configs/thelessone/servers/media/qbittorrent.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

Path conditions:
  deploy_thelessnas: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**
  deployment: (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**)
  flake_check: any of: flake.lock, **/*.nix
  build_pkgs: any of: flake.lock, pkgs/**/*
  deploy: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deploy_thelessone: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  kickstart deployment: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  deploy_yuri: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**
