Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

Path conditions:
  deploy_thelessnas: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**
  deployment: (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**)
  flake_check: any of: flake.lock, **/*.nix
  build_pkgs: any of: flake.lock, pkgs/**/*
  deploy: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deploy_thelessone: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  kickstart deployment: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  deploy_yuri: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**

feat(thelessone/minecraft): add everyone as operator to allow use of axiom
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/minecraft): limit ram
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update 22.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/caddy): openFirewall
  configs/thelessone/servers/caddy.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/minecraft): add Shellow
  configs/thelessone/servers/minecraft/whitelist.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(modules/vopono): allow sudo everything
  modules/by-name/v/vopono.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(ci): add more diff info
  .woodpecker/.deploy_thelessnas.yaml
  .woodpecker/deploy_thelessone.yaml
Due: none

fix(thelessone/minecraft): change voice host
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix: deploy script remote-switch -> switch
  flake/deploy.nix
Due: flake_check

fix(thelessone/minecraft): open voice chat port in firewall
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update 23.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update 24.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update 25.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/suwayomi): re-enable
  configs/thelessone/servers/default.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat: ensure ssh key
  modules/systems/all/default.nix
  modules/systems/all/ssh.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(shirayuri): add prism launcher
  configs/shirayuri/gaming/default.nix
Due: flake_check

feat(shirayuri): configure ssh key
  configs/shirayuri/configuration.nix
Due: flake_check

feat(thelessone/minecraft): add datapacks
  configs/thelessone/servers/minecraft/datapacks.nix
  configs/thelessone/servers/minecraft/mods.nix
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update 26.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update 26.07.25 rev 2
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: add r8125 kernel module
  configs/thelessnas/hardware/boot.nix
  configs/thelessone/hardware/boot.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: add AGPL-3.0-or-later license
  LICENSE
Due: none

fix(suwayomi-server): allocate more ram to builder
  configs/thelessone/servers/suwayomi.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(suwayomi-server): use different build flags
  configs/thelessone/servers/suwayomi.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(suwayomi-server): use nanopkgs build
  configs/thelessone/servers/suwayomi.nix
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(minecraft): copy files instead of linking
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/minecraft): add rei
  configs/thelessone/servers/minecraft/mods.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/minecraft): add joshs more foods server resource pack, add MixamHD and vampriyva to the whitelist
  configs/thelessone/servers/minecraft/servers.nix
  configs/thelessone/servers/minecraft/whitelist.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update 27.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update 28.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone/minecraft): add carpet to creative
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore(thelessone/minecraft): readibility, add voicechat to all servers, add dungeons and taverns
  configs/thelessone/servers/minecraft/datapacks.nix
  configs/thelessone/servers/minecraft/overlay.nix
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update 29.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/minecraft): open voice chat ports in firewall
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore(thelessone/minecraft): remove SleeperLulu
  configs/thelessone/servers/minecraft/whitelist.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update nanopkgs 29.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: add declarative gamerules datapack
  configs/thelessone/servers/minecraft/datapacks.nix
  configs/thelessone/servers/minecraft/declarative-gamerules.nix
  configs/thelessone/servers/minecraft/declarative-gamerules/data/minecraft/tags/function/load.json
  configs/thelessone/servers/minecraft/declarative-gamerules/pack.mcmeta
  configs/thelessone/servers/minecraft/declarative-gamerules/pack.png
  configs/thelessone/servers/minecraft/overlay.nix
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/minecraft): add killheal datapack to lobby
  configs/thelessone/servers/minecraft/datapacks.nix
  configs/thelessone/servers/minecraft/overlay.nix
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/minecraft): update killheal
  configs/thelessone/servers/minecraft/overlay.nix
  configs/thelessone/servers/minecraft/servers.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment
