Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

deploy_thelessnas:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessnas.config.system.build.toplevel --no-nom -j 12 --eval-workers 1
    - echo "$(readlink -f ./result-)" > generationPath
  - name: diff
    image: bash
    depends_on:
    - build
    commands:
  ...

deployment:
  depends_on:
  - build
  image: bash
  environment:
    DEPLOYMENT_KEY_THELESSNAS:
      from_secret: DEPLOYMENT_KEY_THELESSNAS
    NIX_SSHOPTS: -i ./deployment
  commands:
  - echo "$DEPLOYMENT_KEY_THELESSNAS" > deployment
  - chmod 400 deployment
  - nix run .#deploy-thelessnas -- deployment "$(cat generationPath)"

flake_check:
  steps:
  - name: check
    image: bash
    commands:
    - nix flake check --show-trace

build_pkgs:
  steps:
  - name: buildAll
    image: bash
    commands:
    - nix run .#buildAllx86Pkgs -- --no-nom --no-link

deploy:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-nom
    - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)
  - name: deployment
    when:
    - event: deployment
    - branch: main
  ...

deploy_thelessone:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-nom -j 12 --eval-workers 1
    - echo "$(readlink -f ./result-)" > generationPath
  - name: diff
    depends_on:
    - build
    image: bash
    commands:
    - echo "Full diff"
  ...

kickstart deployment:
  depends_on:
  - build
  image: bash
  environment:
    DEPLOYMENT_KEY_THELESSNAS:
      from_secret: DEPLOYMENT_KEY_THELESSNAS
  commands:
  - echo "$DEPLOYMENT_KEY_THELESSNAS" > priv
  - chmod 400 priv
  ...

deploy_yuri:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.yuri.config.system.build.toplevel --no-nom
    - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)
  - name: deployment
    when:
    - event: deployment
    - branch: main
  ...

fix: remove removed option hardware.amdgpu.amdvlk.enable
  configs/himeyuri/hardware/gpu.nix
  configs/kuroyuri/hardware/gpu.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(cosmic): add clipboard manager and privacy indicators, retheme and remove panel
  configs/shirayuri/default.nix
  flake.lock
  modules/by-name/t/themes/cosmic.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/forgejo): add NIX_PATH to runners
  configs/thelessone/servers/user-services/forgejo.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/networking): use dhcp for ipv6
  configs/thelessone/networking/interface.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/forgejo): enable mailer
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/mail.nix
  configs/thelessone/servers/user-services/forgejo.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat: add wkeys
  flake.lock
  modules/by-name/t/themes/cosmic.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: various changes
  configs/shirayuri/default.nix
  flake.lock
  modules/by-name/l/librewolf.nix
  modules/by-name/t/themes/cosmic.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone/forgejo): add docker runner
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/user-services/forgejo.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/forgejo): switch to podman
  configs/thelessone/servers/user-services/forgejo.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/valheim): disable server for now
  configs/thelessone/servers/valheim.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/caddy): plugin hash
  configs/thelessone/servers/caddy.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat: add sebi mtls client certs
  configs/thelessone/servers/caddy.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/forgejo): allow port 53 on any podman interface
  configs/thelessone/servers/user-services/forgejo.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(yuri): slim down config
  configs/yuri/configuration.nix
  configs/yuri/servers/caddy.nix
  configs/yuri/servers/default.nix
  configs/yuri/servers/immich.nix
  configs/yuri/servers/media.nix
  configs/yuri/servers/restic-server.nix
  configs/yuri/servers/uptime-kuma.nix
Due: deployment, flake_check, deploy_yuri

fix: disable broken packages for now
  configs/himeyuri/hardware/gpu.nix
  configs/shirayuri/hardware/gpu.nix
  configs/yamayuri/configuration.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: key locations
  configs/shirayuri/configuration.nix
  configs/shirayuri/secrets/host.yaml
  configs/shirayuri/secrets/user-hana.yaml
  configs/shirayuri/ssh.nix
  configs/yamayuri/configuration.nix
  modules/by-name/p/passkeys/default.nix
  modules/by-name/p/passkeys/yuri.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(yuri): hass config directory
  configs/yuri/servers/home-assistant.nix
Due: deployment, flake_check, deploy_yuri

feat(yuri): expose services to vpn
  configs/shirayuri/default.nix
  configs/shirayuri/secrets/host.yaml
  configs/shirayuri/wireguard.nix
  configs/yuri/secrets/host.yaml
  configs/yuri/servers/bind.nix
  configs/yuri/servers/caddy.nix
  configs/yuri/servers/default.nix
  configs/yuri/servers/dnsmasq.nix
  configs/yuri/servers/home-assistant.nix
  configs/yuri/servers/immich.nix
  configs/yuri/servers/wireguard.nix
Due: deployment, flake_check, deploy_yuri

fix(yuri): bind to address instead
  configs/yuri/servers/dnsmasq.nix
  configs/yuri/servers/home-assistant.nix
  configs/yuri/servers/immich.nix
Due: deployment, flake_check, deploy_yuri

fix(yuri): remove wildcard caddy match
  configs/yuri/servers/domains.nix
Due: deployment, flake_check, deploy_yuri

fix(yuri/caddy): proxy to localhost
  configs/yuri/servers/home-assistant.nix
  configs/yuri/servers/immich.nix
Due: deployment, flake_check, deploy_yuri

fix(yuri): increase dhcp lease amount
  configs/yuri/servers/dnsmasq.nix
Due: deployment, flake_check, deploy_yuri

feat(yuri): add ipv6 support
  configs/shirayuri/configuration.nix
  configs/shirayuri/wireguard.nix
  configs/yuri/servers/dnsmasq.nix
  configs/yuri/servers/immich.nix
  configs/yuri/servers/wireguard.nix
Due: deployment, flake_check, deploy_yuri

feat(yuri): add backwards compatibility
  configs/yuri/servers/dnsmasq.nix
  configs/yuri/servers/home-assistant.nix
  configs/yuri/servers/immich.nix
  modules/by-name/c/caddy.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(yuri): ipv6 forwarding
  configs/yuri/servers/wireguard.nix
Due: deployment, flake_check, deploy_yuri

feat: add iptables nat rules, change password for thelessone
  configs/thelessone/secrets/host.yaml
  configs/yuri/servers/dnsmasq.nix
  configs/yuri/servers/wireguard.nix
Due: deployment, flake_check, deploy_yuri

chore(thelessone): change password
  configs/thelessone/secrets/host.yaml
Due: none

fix(cosmic): only kill panel when resetting files
  configs/thelessone/configuration.nix
  modules/by-name/t/themes/cosmic.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(yuri): switch to coredns
  configs/yuri/servers/coredns.nix
  configs/yuri/servers/default.nix
  configs/yuri/servers/dnsmasq.nix
Due: deployment, flake_check, deploy_yuri

fix(yuri/caddy): bind to both enp7s0 and wg0
  configs/yuri/servers/coredns.nix
  configs/yuri/servers/home-assistant.nix
  configs/yuri/servers/immich.nix
Due: deployment, flake_check, deploy_yuri

chore(thelessone): change password for thelessone
  configs/thelessone/secrets/host.yaml
Due: none

fix(thelessone): force cosmic values
  configs/thelessone/configuration.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat: properly handle caddy errors
  flake.lock
  modules/by-name/c/caddy.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: add uptimekuma mtls user
  configs/thelessone/servers/caddy.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone): oops, removed modules by accident x3
  configs/thelessone/servers/arr-stack/default.nix
  configs/thelessone/servers/shoko.nix
  configs/thelessone/servers/user-services/default.nix
  configs/thelessone/servers/user-services/uptime-kuma.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(ci): use nh to build remotely
  .forgejo/workflows/deploy_thelessone.yaml
Due: none

fix(thelessone/forgejo): allow multiple docker pipelines running
  configs/thelessone/servers/user-services/forgejo.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: update flake.lock
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone): jellyfin vaapi
  .forgejo/workflows/deploy_thelessone.yaml
  configs/thelessone/hardware/gpu.nix
  configs/thelessone/servers/media/jellyfin.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

Path conditions:
  deploy_thelessnas: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**
  deployment: (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**)
  flake_check: any of: flake.lock, **/*.nix
  build_pkgs: any of: flake.lock, pkgs/**/*
  deploy: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deploy_thelessone: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  kickstart deployment: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  deploy_yuri: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**
