Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy_thelessnas, deployment, build_pkgs, deploy, deploy_thelessone, deploy_yuri

Path conditions:
  deploy_thelessnas: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**
  deployment: (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**)
  build_pkgs: any of: flake.lock, pkgs/**/*
  deploy: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deploy_thelessone: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deploy_yuri: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**

fix(pkgs/shoko.*): only include dev builds
  nvfetcher.toml
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  pkgs/_versions/new_versions.json
  pkgs/shoko/deps.json
Due: deploy_thelessnas, deployment, build_pkgs, deploy, deploy_thelessone, deploy_yuri

feat(thelessone/shoko): add shokofin
  configs/thelessone/servers/shoko.nix
Due: deployment, deploy, deploy_thelessone

feat(pkgs): add automatic updates for shokofin
  nvfetcher.toml
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  pkgs/_versions/new_versions.json
  pkgs/shokofin/default.nix
  pkgs/shokofin/deps.json
  source.toml
Due: deploy_thelessnas, deployment, build_pkgs, deploy, deploy_thelessone, deploy_yuri

chore: remove lazy apps for now
  configs/shirayuri/configuration.nix
Due: none

feat(modules/transmission): add mode setting script
  modules/by-name/t/transmission.nix
Due: deploy_thelessnas, deployment, deploy, deploy_thelessone, deploy_yuri

chore: Update 17.06.25
  flake.lock
Due: deploy_thelessnas, deployment, build_pkgs, deploy, deploy_thelessone, deploy_yuri

feat: set default kernel package
  configs/common/required/boot.nix
Due: deploy_thelessnas, deployment, deploy, deploy_thelessone, deploy_yuri

feat(theless{one,nas}): enable zfs, remove samba and prepare for nfs
  configs/thelessnas/default.nix
  configs/thelessnas/samba.nix
  configs/thelessnas/zfs.nix
  configs/thelessone/hardware/mounts.nix
Due: deploy_thelessnas, deployment, deploy, deploy_thelessone, deploy_yuri

feat(thelessnas): enable nfs
  configs/thelessnas/default.nix
  configs/thelessnas/nfs.nix
  configs/thelessnas/zfs.nix
Due: deploy_thelessnas, deployment, deploy, deploy_thelessone, deploy_yuri

feat(theless{one,nas}): mount nfs
  configs/thelessnas/default.nix
  configs/thelessnas/nfs.nix
  configs/thelessnas/zfs.nix
  configs/thelessone/hardware/mounts.nix
Due: deploy_thelessnas, deployment, deploy, deploy_thelessone, deploy_yuri

feat(thelessone/homepage): column -> row, media services
  configs/thelessone/servers/default.nix
  configs/thelessone/servers/homepage.nix
  modules/by-name/s/sonarr.nix
Due: deploy_thelessnas, deployment, deploy, deploy_thelessone, deploy_yuri

chore: Update 18.06.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
Due: deploy_thelessnas, deployment, build_pkgs, deploy, deploy_thelessone, deploy_yuri

feat(thelessone): migrate to nas mass storage
  configs/thelessone/hardware/mounts.nix
Due: deployment, deploy, deploy_thelessone

fix(pkgs/shokofin): add avdump
  pkgs/shoko/avdump.patch
  pkgs/shoko/default.nix
Due: deploy_thelessnas, deployment, build_pkgs, deploy, deploy_thelessone, deploy_yuri

fix(thelessone/stash): change dir
  configs/thelessone/servers/stash.nix
Due: deployment, deploy, deploy_thelessone

feat(pkgs): add automatic updates for avdump3
  nvfetcher.toml
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  pkgs/avdump3/default.nix
  pkgs/default.nix
Due: deploy_thelessnas, deployment, build_pkgs, deploy, deploy_thelessone, deploy_yuri

chore(pkgs/avdump3): use insecure dotnet 6 instead
  configs/thelessone/servers/shoko.nix
  nvfetcher.toml
  pkgs/avdump3/default.nix
  pkgs/default.nix
  pkgs/shoko/default.nix
  pkgs/shokofin/default.nix
Due: deploy_thelessnas, deployment, build_pkgs, deploy, deploy_thelessone, deploy_yuri

chore(pkgs)!: remove avdump entirely
  configs/common/required/shell.nix
  configs/shirayuri/configuration.nix
  configs/thelessone/servers/shoko.nix
  configs/yuri/servers/bind.nix
  pkgs/shoko/avdump.patch
  pkgs/shoko/default.nix
Due: deploy_thelessnas, deployment, build_pkgs, deploy, deploy_thelessone, deploy_yuri

feat(shoko): copy transmission files on complete to keep torrents
  configs/thelessone/servers/shoko.nix
  modules/by-name/t/transmission.nix
Due: deploy_thelessnas, deployment, deploy, deploy_thelessone, deploy_yuri

chore: Update 19.06.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  source.toml
Due: deploy_thelessnas, deployment, build_pkgs, deploy, deploy_thelessone, deploy_yuri

feat(shirayuri): enable cups
  configs/shirayuri/configuration.nix
Due: none

fix: delete home backup in default user's home
  configs/common/required/shell.nix
Due: deploy_thelessnas, deployment, deploy, deploy_thelessone, deploy_yuri

chore: Update 20.06.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
Due: deploy_thelessnas, deployment, build_pkgs, deploy, deploy_thelessone, deploy_yuri

chore: Update 21.06.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  pkgs/_versions/new_versions.json
  pkgs/suwayomi-server/deps.json
Due: deploy_thelessnas, deployment, build_pkgs, deploy, deploy_thelessone, deploy_yuri

feat(ci): show trace on flake check
  .woodpecker/.flake_check.yaml
Due: none

feat(kuroyuri): add programs
  configs/kuroyuri/configuration.nix
Due: none

fix(update): add shokofin deps on completion
  source.toml
  update.nix
Due: none

fix(update): add update log to commit, refresh secrets
  .woodpecker/update.yaml
  configs/kuroyuri/configuration.nix
  configs/kuroyuri/secrets.yaml
  configs/shirayuri/configuration.nix
  configs/shirayuri/secrets.yaml
  configs/thelessone/servers/woodpecker.nix
  source.toml
  update.nix
Due: deployment, deploy, deploy_thelessone

fix(ci): set language variables, configure nix
  .woodpecker/update.yaml
Due: none

fix(update): add gawk
  update.nix
Due: none

fix(ci): set git author
  .woodpecker/update.yaml
Due: none

fix(ci): add codeberg as a known host
  .woodpecker/update.yaml
Due: none

chore(update): don't log
  source.toml
  update.nix
Due: none

chore: debug
  .woodpecker/update.yaml
  source.toml
  update.nix
Due: none

fix(ci): don't use bwrap
  .woodpecker/update.yaml
  source.toml
Due: none

fix(ci): use native image, set NIX_REMOTE
  .woodpecker/update.yaml
Due: none

fix(ci): add changelog to commit
  pkgs/_versions/old_versions.json
  source.toml
  update.nix
Due: build_pkgs

fix(ci): switch back to nix image
  .woodpecker/update.yaml
Due: none

chore: Update 27.06.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  pkgs/_versions/new_versions.json
  pkgs/suwayomi-server/deps.json
Due: deploy_thelessnas, deployment, build_pkgs, deploy, deploy_thelessone, deploy_yuri

feat(pkgs): add approximate version for suwayomi-server
  .woodpecker/update.yaml
  pkgs/_versions/new_versions.json
  pkgs/suwayomi-server/default.nix
  source.toml
  update.nix
Due: deploy_thelessnas, deployment, build_pkgs, deploy, deploy_thelessone, deploy_yuri
