Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

Path conditions:
  deploy_thelessnas: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**
  deployment: (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**)
  flake_check: any of: flake.lock, **/*.nix
  build_pkgs: any of: flake.lock, pkgs/**/*
  deploy: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deploy_thelessone: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  kickstart deployment: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  deploy_yuri: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**

feat(audio): simplify
  configs/common/optional/audio.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update 05.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update 06.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update 07.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(yuri): use acme
  configs/yuri/servers/ddclient.nix
  configs/yuri/servers/default.nix
  configs/yuri/servers/domains.nix
Due: deployment, flake_check, deploy_yuri

fix(yuri/uptime-kuma): remove data dir setting
  configs/yuri/servers/uptime-kuma.nix
Due: deployment, flake_check, deploy_yuri

feat(yuri): configure ddclient
  configs/yuri/secrets.yaml
  configs/yuri/servers/calendar.nix
  configs/yuri/servers/ddclient.nix
  configs/yuri/servers/default.nix
  configs/yuri/servers/uptime-kuma.nix
Due: deployment, flake_check, deploy_yuri

fix(firefox): force extensions
  configs/common/optional/browsers/firefox.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update 08.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(yuri): disable discord events for now
  configs/yuri/servers/calendar.nix
Due: deployment, flake_check, deploy_yuri

fix: update nanopkgs to fix suwayomi-server
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/homepage): glances, status page
  configs/thelessone/servers/lab.nix
  configs/thelessone/servers/uptime-kuma.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update 09.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone/minecraft): add TheLessOne
  configs/thelessone/servers/minecraft/whitelist.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update 10.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone,yuri): migrate to oink ddns client
  configs/thelessone/secrets.yaml
  configs/thelessone/servers/default.nix
  configs/thelessone/servers/domains.nix
  configs/thelessone/servers/dynamicdns.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone): set tls
  configs/thelessone/servers/domains.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat: add vpn subdomain certs
  configs/thelessone/servers/domains.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update 11.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update 12.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(yuri): add md2img
  configs/yuri/servers/uptime-kuma.nix
  flake.lock
  flake.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update 13.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(oink): make sure to restart the service
  configs/thelessone/servers/domains.nix
  configs/yuri/servers/domains.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(homepage-images): add cache-control header
  modules/by-name/h/homepage-images.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update nanopkgs 13.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone/shoko): add luarenamer
  configs/thelessone/servers/shoko.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update 14.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone): units failing on boot
  configs/thelessone/servers/domains.nix
  configs/thelessone/servers/lab.nix
  configs/thelessone/servers/stash.nix
  configs/thelessone/vaultwarden.nix
  configs/yuri/servers/domains.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/beets): singletons
  configs/thelessone/beets.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update 15.07.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/beets): group albums
  configs/thelessone/beets.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/beets): use album artist
  configs/thelessone/beets.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/beets): use first artist
  configs/thelessone/beets.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/beets): wrap beet
  configs/thelessone/beets.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/beets): only set title
  configs/thelessone/beets.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/beets): skip, don't use as is
  configs/thelessone/beets.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment
