Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

Path conditions:
  deploy_thelessnas: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**
  deployment: (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**)
  flake_check: any of: flake.lock, **/*.nix
  build_pkgs: any of: flake.lock, pkgs/**/*
  deploy: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deploy_thelessone: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  kickstart deployment: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  deploy_yuri: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**

fix(shirayuri): update
  flake.lock
  nix/configs/shirayuri/desktop.nix
  nix/configs/shirayuri/hardware/devices.nix
  nix/configs/shirayuri/system.nix
  nix/pkgs/sable-desktop.nix
  nix/pkgs/sable-desktop/_package.nix
  nix/pkgs/sable-desktop/_sableclient-matrixrtc.nix
  nix/pkgs/sable-desktop/_sableclient-tauri-plugin-livekit-mobile.nix
  nix/pkgs/sable-desktop/wrapper.nix
  nix/pkgs/sableclient-npm-dist.patch
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: update, zed, passkeys
  flake.lock
  flake.nix
  nix/modules/passkey/passkey.nix
  nix/modules/zed.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(zed): lsp all configs
  nix/modules/zed.nix
Due: flake_check

chore: update locks, add zed performance profile
  flake.lock
  nix/modules/zed.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(himawari): init
  .sops.yaml
  flake.lock
  flake.nix
  modules/acme/secrets.yaml
  modules/alacritty.nix
  modules/audio.nix
  modules/disks.nix
  modules/firefox.nix
  modules/hardware.nix
  modules/home-assistant/secrets.yaml
  modules/home-manager.nix
  modules/hosts/himawari/facter.json
  modules/hosts/himawari/himawari.nix
  modules/hosts/kanokoyuri/facter.json
  modules/hosts/kanokoyuri/kanokoyuri.nix
  modules/limine.nix
  modules/linux.nix
  modules/locale.nix
  modules/networking.nix
  modules/nix.nix
  modules/openssh.nix
  modules/passkey/passkey.nix
  modules/passkey/secrets.yaml
  modules/plasma.nix
  modules/power-profiles-daemon.nix
  modules/shell.nix
  modules/sops.nix
  modules/swap.nix
  modules/tailscale/secrets.yaml
  modules/tailscale/tailscale.nix
  modules/users/hana/hana.nix
  modules/users/hana/secrets.yaml
  modules/xdg.nix
  modules/zed.nix
  modules/zigbee2mqtt/secrets.yaml
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: init himawari
  flake.lock
  flake.nix
  modules/caddy/tailscale.nix
  modules/fetchers.nix
  modules/hardware.nix
  modules/home-manager.nix
  modules/niri/niri.nix
  modules/niri/noctalia.nix
  modules/nix.nix
  modules/overlays.nix
  modules/passkey/passkey.nix
  modules/plymouth.nix
  modules/tailscale/tailscale.nix
  modules/theme.nix
  modules/zed.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: init noctalia settings, add user programs
  flake.lock
  modules/alacritty.nix
  modules/bitwarden.nix
  modules/discord.nix
  modules/firefox.nix
  modules/matrix-client.nix
  modules/niri/niri.nix
  modules/niri/noctalia.nix
  modules/niri/secrets.yaml
  modules/plasma.nix
  modules/polkit.nix
  modules/signal.nix
  modules/sops.nix
  modules/theme.nix
  modules/thunderbird.nix
  modules/users/hana/hana.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: update locks
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: add missing fluffychat auto startup
  modules/niri/niri.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: secure boot, theming
  .gitignore
  modules/home-manager.nix
  modules/limine.nix
  modules/niri/niri.nix
  modules/niri/noctalia.nix
  modules/nix.nix
  modules/users/hana/hana.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: use oo7 secret service instead of gnome keyring
  flake.lock
  modules/niri/noctalia.nix
  modules/niri/oo7.nix
  modules/xdg.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: screenshare breaking variable according to niri docs
  modules/niri/niri.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: pam/polkit sillies
  modules/niri/noctalia.nix
  modules/niri/pam/pam.nix
  modules/niri/pam/secrets.yaml
  modules/openssh.nix
  modules/passkey/passkey.nix
  modules/polkit.nix
  modules/xdg.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: hardening
  modules/niri/pam/secrets.yaml
  modules/passkey/passkey.nix
  modules/usbguard.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: use nushell, change categories
  flake.lock
  flake.nix
  modules/bc250.nix
  modules/shell.nix
  modules/signal.nix
  modules/usbguard.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: disable mutable users
  modules/users/users.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: init setup mode
  modules/home-manager.nix
  modules/networking.nix
  modules/setup.nix
  modules/swap.nix
  modules/usbguard.nix
  modules/xdg.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: oo7-daemon startup
  modules/niri/niri.nix
  modules/niri/oo7.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: evaluation
  flake.lock
  modules/fetchers.nix
  modules/lact.nix
  modules/logitech.nix
  modules/niri/niri.nix
  modules/prismlauncher.nix
  modules/steam.nix
  modules/xdg.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: usable niri on desktop
  modules/fcitx5.nix
  modules/niri/niri.nix
  modules/setup.nix
  modules/usbguard.nix
  modules/xdg.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: git signing
  modules/passkey/passkey.nix
  modules/users/hana/hana.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: add wallpaper2
  modules/niri/noctalia.nix
  modules/theme.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: add zed theme
  modules/zed.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: edit some random stuff and styling
  flake.lock
  flake.nix
  modules/niri/noctalia.nix
  modules/shell.nix
  modules/zed.nix
  nix/modules/zed.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: revert back to zsh for now
  modules/shell.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: update locks
  flake.lock
  modules/usbguard.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: remove greetd pam configuration in favor of login
  modules/niri/pam/pam.nix
  modules/nix.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: set mouse input profile
  modules/logitech.nix
  modules/niri/niri.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: enable lfs
  modules/nix.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: update locks, add gamescope, theme dark using dconf
  flake.lock
  modules/gamescope.nix
  modules/theme.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: set home level xdg config
  modules/niri/noctalia.nix
  modules/polkit.nix
  modules/xdg.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: lock oo7 on niri lock
  modules/niri/niri.nix
  modules/niri/oo7.nix
  modules/niri/pam/pam.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri
