Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

deploy_thelessnas:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessnas.config.system.build.toplevel --no-nom -j 12 --eval-workers 1
    - echo "$(readlink -f ./result-)" > generationPath
  - name: diff
    image: bash
    depends_on:
    - build
    commands:
  ...

deployment:
  depends_on:
  - build
  image: bash
  environment:
    DEPLOYMENT_KEY_THELESSNAS:
      from_secret: DEPLOYMENT_KEY_THELESSNAS
    NIX_SSHOPTS: -i ./deployment
  commands:
  - echo "$DEPLOYMENT_KEY_THELESSNAS" > deployment
  - chmod 400 deployment
  - nix run .#deploy-thelessnas -- deployment "$(cat generationPath)"

flake_check:
  steps:
  - name: check
    image: bash
    commands:
    - nix flake check --show-trace

build_pkgs:
  steps:
  - name: buildAll
    image: bash
    commands:
    - nix run .#buildAllx86Pkgs -- --no-nom --no-link

deploy:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-nom
    - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)
  - name: deployment
    when:
    - event: deployment
    - branch: main
  ...

deploy_thelessone:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-nom -j 12 --eval-workers 1
    - echo "$(readlink -f ./result-)" > generationPath
  - name: diff
    depends_on:
    - build
    image: bash
    commands:
    - echo "Full diff"
  ...

kickstart deployment:
  depends_on:
  - build
  image: bash
  environment:
    DEPLOYMENT_KEY_THELESSNAS:
      from_secret: DEPLOYMENT_KEY_THELESSNAS
  commands:
  - echo "$DEPLOYMENT_KEY_THELESSNAS" > priv
  - chmod 400 priv
  ...

deploy_yuri:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.yuri.config.system.build.toplevel --no-nom
    - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)
  - name: deployment
    when:
    - event: deployment
    - branch: main
  ...

fix(thelessone/qbittorrent): remove and then copy secret
  .gitignore
  configs/thelessone/servers/media/qbittorrent.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore(thelessone/qbittorrent): unset password
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/media/qbittorrent.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/qbittorrent): set password through webinterface
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/media/qbittorrent.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone): init deluge, remove qbittorrent
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/media/default.nix
  configs/thelessone/servers/media/deluge.nix
  configs/thelessone/servers/media/qbittorrent.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/deluge): add arr users
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/media/deluge.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/deluge): allow access to flood
  configs/thelessone/servers/media/deluge.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(modules/vopono): restart dependencies with vopono
  modules/by-name/v/vopono.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/deluge): set flood host to 0.0.0.0
  configs/thelessone/servers/media/deluge.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(modules/mtls): init
  configs/thelessone/servers/caddy.nix
  lib/options.nix
  modules/by-name/m/mtls.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: update nanopkgs
  flake.lock
  modules/by-name/m/mtls.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone/homepage): switch to mtls
  configs/thelessone/servers/caddy.nix
  configs/thelessone/servers/homepage.nix
  modules/by-name/c/caddy.nix
  modules/by-name/h/homepage.nix
  modules/by-name/m/mtls.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/mtls): use RSA instead
  modules/by-name/m/mtls.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/mtls): set default_md to sha256
  modules/by-name/m/mtls.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/forgejo): don't alias nanoyaki.space
  configs/thelessone/servers/user-services/forgejo.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat: switch to mtls entirely
  configs/shirayuri/default.nix
  configs/shirayuri/secrets/host.yaml
  configs/shirayuri/ssl.nix
  configs/thelessone/networking/default.nix
  configs/thelessone/networking/ssl.nix
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/caddy.nix
  configs/thelessone/servers/immich.nix
  configs/thelessone/servers/lab.nix
  configs/thelessone/servers/media/audiobookshelf.nix
  configs/thelessone/servers/media/deluge.nix
  configs/thelessone/servers/media/stash.nix
  configs/thelessone/servers/metrics.nix
  configs/thelessone/servers/shoko.nix
  configs/thelessone/servers/user-services/gokapi.nix
  configs/thelessone/servers/user-services/suwayomi.nix
  configs/yuri/default.nix
  configs/yuri/secrets/host.yaml
  configs/yuri/ssl.nix
  modules/by-name/m/mtls.nix
  modules/systems/all/ca.pem
  modules/systems/all/sops.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/caddy): use tls for restic http server
  configs/shirayuri/backup.nix
  configs/thelessone/servers/caddy.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/caddy): dirty fix for separate working directories
  configs/thelessone/servers/caddy.nix
  configs/thelessone/servers/homepage.nix
  configs/thelessone/servers/media/audiobookshelf.nix
  configs/thelessone/servers/media/deluge.nix
  configs/thelessone/servers/media/stash.nix
  configs/thelessone/servers/metrics.nix
  configs/thelessone/servers/shoko.nix
  configs/thelessone/servers/user-services/gokapi.nix
  configs/thelessone/servers/user-services/suwayomi.nix
  modules/by-name/m/mtls.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/caddy): okay, fix it properly
  configs/thelessone/servers/caddy.nix
  configs/thelessone/servers/homepage.nix
  configs/thelessone/servers/media/audiobookshelf.nix
  configs/thelessone/servers/media/deluge.nix
  configs/thelessone/servers/media/jellyfin.nix
  configs/thelessone/servers/media/stash.nix
  configs/thelessone/servers/metrics.nix
  configs/thelessone/servers/shoko.nix
  configs/thelessone/servers/user-services/gokapi.nix
  configs/thelessone/servers/user-services/suwayomi.nix
  modules/by-name/c/caddy.nix
  modules/by-name/m/mtls.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone): setup redirects for broken domains
  configs/thelessone/servers/caddy.nix
  configs/thelessone/servers/media/default.nix
  configs/thelessone/servers/media/mtls-migration.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix: change keys
  configs/shirayuri/secrets/host.yaml
  configs/thelessone/secrets/host.yaml
  configs/yuri/secrets/host.yaml
  configs/yuri/ssl.nix
Due: deployment, flake_check, deploy_yuri

feat(modules/caddy): move reverseProxy -> vHost.proxy and reverseProxy.^(port|host) to vHost.^(port|host)
  configs/thelessone/servers/caddy.nix
  configs/thelessone/servers/domains.nix
  configs/thelessone/servers/headscale.nix
  configs/thelessone/servers/homepage.nix
  configs/thelessone/servers/immich.nix
  configs/thelessone/servers/media/audiobookshelf.nix
  configs/thelessone/servers/media/deluge.nix
  configs/thelessone/servers/media/stash.nix
  configs/thelessone/servers/metrics.nix
  configs/thelessone/servers/minecraft/servers.nix
  configs/thelessone/servers/shoko.nix
  configs/thelessone/servers/user-services/forgejo.nix
  configs/thelessone/servers/user-services/gokapi.nix
  configs/thelessone/servers/user-services/suwayomi.nix
  configs/yuri/servers/uptime-kuma.nix
  modules/by-name/b/bazarr.nix
  modules/by-name/c/caddy.nix
  modules/by-name/h/home-assistant.nix
  modules/by-name/h/homepage.nix
  modules/by-name/i/immich/default.nix
  modules/by-name/j/jellyfin.nix
  modules/by-name/j/jellyseerr.nix
  modules/by-name/l/lidarr.nix
  modules/by-name/p/paperless.nix
  modules/by-name/p/prowlarr.nix
  modules/by-name/r/radarr.nix
  modules/by-name/s/sabnzbd.nix
  modules/by-name/s/sonarr.nix
  modules/by-name/t/transmission.nix
  modules/by-name/v/vaultwarden.nix
  modules/by-name/w/whisparr.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/caddy): update hash
  configs/thelessone/servers/caddy.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix: switch to valheim-server beta branch
  flake.lock
  flake.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: use https for vpn.theless.one
  configs/thelessone/servers/media/mtls-migration.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(ci): use dix instead of nvd
  .forgejo/workflows/deploy_thelessnas.yaml
  .forgejo/workflows/deploy_thelessone.yaml
  configs/thelessone/servers/user-services/forgejo.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(yuri): prowlarr checks, cert key spelling
  configs/yuri/servers/media.nix
  configs/yuri/ssl.nix
Due: deployment, flake_check, deploy_yuri

fix(thelessone/caddy): don't make an exception for immich!!!
  configs/thelessone/servers/caddy.nix
  configs/thelessone/servers/media/mtls-migration.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(modules/mtls): add bundle password option
  modules/by-name/m/mtls.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/immich): public proxy url
  configs/thelessone/servers/immich.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(systems/all): use nh
  configs/yamayuri/configuration.nix
  modules/systems/all/nix.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone/caddy): add daniel mTLS user
  configs/thelessone/servers/caddy.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/jellyfin): allow vpn for jellyfin
  configs/thelessone/servers/media/jellyfin.nix
  configs/thelessone/servers/media/mtls-migration.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/deluge): active seeds
  configs/thelessone/servers/media/deluge.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/deluge): pre allocate storage
  configs/thelessone/servers/media/deluge.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/vaultwarden): use localhost smtp, woopsie
  configs/thelessone/servers/user-services/vaultwarden.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/vaultwarden): woopsies, set the wrong password owo x3 :3 nuzzles pounces on you
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/user-services/vaultwarden.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/vaultwarden): couldn't help but notice your bulge from across the floor
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/mail.nix
  configs/thelessone/servers/user-services/vaultwarden.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/vaultwarden): nuzzles your necky wecky ~murr~ hehe
  configs/thelessone/servers/mail.nix
  configs/thelessone/servers/user-services/vaultwarden.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/vaultwarden): use implicit TLS
  configs/thelessone/servers/user-services/vaultwarden.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update flake.lock 15.09.25 01:30
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

Path conditions:
  deploy_thelessnas: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**
  deployment: (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**)
  flake_check: any of: flake.lock, **/*.nix
  build_pkgs: any of: flake.lock, pkgs/**/*
  deploy: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deploy_thelessone: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  kickstart deployment: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  deploy_yuri: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**
