Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

Path conditions:
  deploy_thelessnas: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**
  deployment: (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**)
  flake_check: any of: flake.lock, **/*.nix
  build_pkgs: any of: flake.lock, pkgs/**/*
  deploy: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deploy_thelessone: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  kickstart deployment: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  deploy_yuri: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**

feat(passkeys): configure gpg agent
  modules/by-name/p/passkeys/yubikey.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: remove ssl, correct signing key, change radicale permissions
  configs/shirayuri/default.nix
  configs/shirayuri/git.nix
  configs/shirayuri/ssl.nix
  configs/thelessone/networking/default.nix
  configs/thelessone/networking/ssl.nix
  configs/thelessone/servers/user-services/radicale.nix
  configs/yuri/default.nix
  configs/yuri/ssl.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update flake.lock 20.09.25 04:03
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone/radicale): urldecode username
  configs/thelessone/servers/user-services/radicale.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/ssh): add id_himeyuri
  configs/thelessone/servers/ssh.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(kuroyuri): build
  configs/kuroyuri/configuration.nix
  configs/kuroyuri/secrets/host.yaml
  configs/kuroyuri/secrets/user-root.yaml
Due: flake_check

feat(kuroyuri): use id_nadesiko as default id
  configs/kuroyuri/configuration.nix
Due: flake_check

feat(kuroyuri): use the same settings as shirayuri for librewolf
  configs/kuroyuri/configuration.nix
  configs/kuroyuri/default.nix
Due: flake_check

feat(kuroyuri): add thunderbird
  configs/kuroyuri/configuration.nix
Due: flake_check

feat(kuroyuri): add melonDS
  configs/kuroyuri/configuration.nix
Due: flake_check

feat(himeyuri): add prismlauncher
  configs/himeyuri/configuration.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: remove gsettings env var, feat: add bs manager and gamemode
  configs/himeyuri/configuration.nix
  modules/vr/vrchat.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(himeyuri): init
  .sops.yaml
  configs/himeyuri/configuration.nix
  configs/himeyuri/default.nix
  configs/himeyuri/hardware/boot.nix
  configs/himeyuri/hardware/cpu.nix
  configs/himeyuri/hardware/default.nix
  configs/himeyuri/hardware/gpu.nix
  configs/himeyuri/hardware/mounts.nix
  configs/himeyuri/hardware/swap.nix
  configs/himeyuri/secrets/host.yaml
  configs/himeyuri/secrets/user-hana.yaml
  configs/himeyuri/secrets/user-root.yaml
  configs/shirayuri/configuration.nix
  flake.nix
  modules/by-name/p/passkeys/yuri.yaml
  modules/systems/all/secrets.yaml
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(himeyuri): setup git settings
  configs/himeyuri/git.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(himeyuri): add vr support
  configs/himeyuri/configuration.nix
  configs/himeyuri/default.nix
  configs/himeyuri/hardware/gpu.nix
  modules/vr/default.nix
  modules/vr/wivrn.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: remove meow
  configs/meow/configuration.nix
  configs/meow/cpu.nix
  configs/meow/default.nix
  configs/meow/home.nix
  configs/meow/nix.nix
  configs/meow/root.nix
  configs/meow/root/dbus.nix
  configs/meow/root/environment.nix
  configs/meow/root/systemd.nix
  configs/meow/secrets/host.yaml
  configs/meow/shell.nix
  configs/meow/sops.nix
  configs/meow/steam.nix
  configs/meow/vr.nix
  configs/meow/vrchat.nix
  flake.nix
Due: flake_check

feat(himeyuri): enable nct6775 module
  configs/himeyuri/hardware/cpu.nix
  configs/himeyuri/hardware/default.nix
  configs/himeyuri/hardware/mainboard.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(himeyuri): add waydroid script
  configs/himeyuri/configuration.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(himeyuri): undervolt cpu
  configs/himeyuri/hardware/cpu.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(himeyuri): declarative coolercontrol config
  configs/himeyuri/hardware/mainboard.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(himeyuri): add xivlauncher
  configs/himeyuri/configuration.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(himeyuri): add thunderbird
  configs/himeyuri/configuration.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore(himeyuri): simplify configToml buildCommand patch
  configs/himeyuri/hardware/mainboard.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(himeyuri): use more active cooling curve
  configs/himeyuri/hardware/mainboard.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(himeyuri): keyboard layout
  configs/himeyuri/configuration.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: add wkeys
  configs/himeyuri/configuration.nix
  configs/himeyuri/hardware/default.nix
  flake.lock
  flake.nix
  modules/systems/non-headless/nix.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(himeyuri): add bongocat
  configs/himeyuri/configuration.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: use cosmic as default
  modules/by-name/f/flatpak.nix
  modules/by-name/p/plasma.nix
  modules/by-name/t/themes/catppuccin.nix
  modules/systems/non-headless/desktop.nix
  modules/systems/non-headless/nix.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: update
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone): add backups
  configs/shirayuri/hardware/default.nix
  configs/shirayuri/hardware/mouse.nix
  configs/thelessone/configuration.nix
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/immich.nix
  configs/thelessone/servers/mail.nix
  configs/thelessone/servers/media/audiobookshelf.nix
  configs/thelessone/servers/media/jellyfin.nix
  configs/thelessone/servers/user-services/copyparty.nix
  configs/thelessone/servers/user-services/fireshare.nix
  configs/thelessone/servers/user-services/radicale.nix
  modules/by-name/r/restic.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: add cosmic theming, fix: shirayuri build
  configs/shirayuri/configuration.nix
  configs/shirayuri/hardware/gpu.nix
  flake.lock
  flake.nix
  modules/by-name/t/themes/catppuccin-mocha-pink.nix
  modules/by-name/t/themes/cosmic.nix
  modules/by-name/t/themes/default.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/networking): just use DHCP for v6
  configs/thelessone/networking/interface.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat: initial cosmic theme edit
  flake.lock
  modules/by-name/t/themes/cosmic.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: default cosmic theme wallpaper, add mkEnumVariant, auto theme librefox
  configs/shirayuri/configuration.nix
  configs/shirayuri/librewolf.nix
  modules/by-name/t/themes/cosmic.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: default cosmic theme wallpaper, add mkEnumVariant, auto theme librefox
  .gitattributes
  configs/shirayuri/configuration.nix
  configs/shirayuri/librewolf.nix
  modules/by-name/t/themes/cosmic.nix
  modules/by-name/t/themes/wallpaper.png
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(yuri/samba): make it work again lol
  configs/yuri/secrets/host.yaml
  configs/yuri/servers/samba.nix
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: add copyparty-mount to shirayuri, configure cosmic for main user only
  configs/shirayuri/configuration.nix
  configs/shirayuri/secrets/host.yaml
  flake.lock
  modules/by-name/t/themes/cosmic.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update flake.lock 05.10.25 19:59
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri
