Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

deploy_thelessnas:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessnas.config.system.build.toplevel --no-nom -j 12 --eval-workers 1
    - echo "$(readlink -f ./result-)" > generationPath
  - name: diff
    image: bash
    depends_on:
    - build
    commands:
  ...

deployment:
  depends_on:
  - build
  image: bash
  environment:
    DEPLOYMENT_KEY_THELESSNAS:
      from_secret: DEPLOYMENT_KEY_THELESSNAS
    NIX_SSHOPTS: -i ./deployment
  commands:
  - echo "$DEPLOYMENT_KEY_THELESSNAS" > deployment
  - chmod 400 deployment
  - nix run .#deploy-thelessnas -- deployment "$(cat generationPath)"

flake_check:
  steps:
  - name: check
    image: bash
    commands:
    - nix flake check --show-trace

build_pkgs:
  steps:
  - name: buildAll
    image: bash
    commands:
    - nix run .#buildAllx86Pkgs -- --no-nom --no-link

deploy:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-nom
    - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)
  - name: deployment
    when:
    - event: deployment
    - branch: main
  ...

deploy_thelessone:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-nom -j 12 --eval-workers 1
    - echo "$(readlink -f ./result-)" > generationPath
  - name: diff
    depends_on:
    - build
    image: bash
    commands:
    - echo "Full diff"
  ...

kickstart deployment:
  depends_on:
  - build
  image: bash
  environment:
    DEPLOYMENT_KEY_THELESSNAS:
      from_secret: DEPLOYMENT_KEY_THELESSNAS
  commands:
  - echo "$DEPLOYMENT_KEY_THELESSNAS" > priv
  - chmod 400 priv
  ...

deploy_yuri:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.yuri.config.system.build.toplevel --no-nom
    - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)
  - name: deployment
    when:
    - event: deployment
    - branch: main
  ...

fix(modules/fireshare): use set instead
  modules/by-name/f/fireshare.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/fireshare): handle_path -> handle
  modules/by-name/f/fireshare.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update 11.08.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/fireshare): please be fixed
  modules/by-name/f/fireshare.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/fireshare): allow caddy access to fireshare files
  modules/by-name/f/fireshare.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/suwayomi)!: use separate download dirs
  modules/by-name/s/suwayomi/default.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update 12.08.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/vr): use opencomposite-vendored
  configs/meow/vr.nix
  configs/shirayuri/gaming/default.nix
  modules/by-name/m/monado.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update nanopkgs 12.08.25 13:48
  flake.lock
  flake.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone/fireshare): add homepage entry
  configs/thelessone/servers/fireshare.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update 13.08.25
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/fireshare): use png as svg doesn't exist
  configs/thelessone/servers/fireshare.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat: add owned material key, reduce flake deps duplication
  .sops.yaml
  flake.lock
  flake.nix
  modules/by-name/t/themes/stylix.nix
  modules/systems/all/secrets.yaml
  modules/systems/all/ssh.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: make shared sops file accessible to everyone
  .sops.yaml
  modules/systems/all/secrets.yaml
Due: none

feat(thelessone): limit interface traffic
  configs/thelessone/default.nix
  configs/thelessone/fireqos.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone): limit world input traffic only
  configs/thelessone/fireqos.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone): require mount for systemd tmpfiles
  configs/thelessone/servers/lab.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat: use owned material for theme image
  flake.lock
  flake.nix
  modules/by-name/t/themes/stylix.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update 13.08.25 20:39
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: add public key for git.theless.one
  modules/systems/all/ssh.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(modules/immich): geonames sources
  modules/by-name/i/immich/default.nix
  modules/by-name/i/immich/sources.json
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone): limit tailscale0 to 100mbit
  configs/thelessone/fireqos.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

feat(thelessone/forgejo): add commands
  configs/thelessone/servers/forgejo.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update nanopkgs 13.08.25 22:51
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: Update nanopkgs 13.08.25 22:58
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone): add back flaresolverr
  configs/thelessone/servers/lab.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update nanopkgs 14.08.25 00:55
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(thelessone/stash): add scrapers
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/stash.nix
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/stash): use mutably configured values
  configs/thelessone/secrets/host.yaml
  configs/thelessone/servers/stash.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

chore: Update nanopkgs 14.08.25 05:05
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(jellyfin): use jellyfin-web-with-plugins
  flake.lock
  modules/by-name/j/jellyfin.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(shirayuri/gpu): add lact
  configs/shirayuri/hardware/gpu.nix
Due: flake_check

fix(yuri/hardware): configure new hardware
  configs/yuri/hardware/boot.nix
  configs/yuri/hardware/cpu.nix
  configs/yuri/hardware/default.nix
Due: deployment, flake_check, deploy_yuri

feat(yuri/hardware): enable ryzen-smu
  configs/yuri/hardware/cpu.nix
Due: deployment, flake_check, deploy_yuri

fix(yuri): network interface
  configs/yuri/servers/media.nix
  configs/yuri/servers/restic.nix
Due: deployment, flake_check, deploy_yuri

chore: Update nanopkgs 14.08.25 19:45
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/stash): add py-common
  configs/thelessone/servers/stash.nix
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(thelessone/stash): fix scrapers option
  configs/thelessone/servers/stash.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/stash): add required permissions
  configs/thelessone/servers/stash.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

fix(thelessone/stash/shokoapi): hostname:port
  configs/thelessone/servers/stash.nix
Due: deployment, flake_check, deploy, deploy_thelessone, kickstart deployment

Path conditions:
  deploy_thelessnas: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**
  deployment: (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**)
  flake_check: any of: flake.lock, **/*.nix
  build_pkgs: any of: flake.lock, pkgs/**/*
  deploy: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deploy_thelessone: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  kickstart deployment: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  deploy_yuri: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**
