Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

Path conditions:
  deploy_thelessnas: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**
  deployment: (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**)
  flake_check: any of: flake.lock, **/*.nix
  build_pkgs: any of: flake.lock, pkgs/**/*
  deploy: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deploy_thelessone: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  kickstart deployment: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  deploy_yuri: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**

flake.lock: Update
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: add git configuration
  .vscode/settings.json
  configs/himeyuri/configuration.nix
  modules/by-name/g/git.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: gpg default key, remove duplicate git config
  configs/himeyuri/git.nix
  configs/kuroyuri/default.nix
  configs/kuroyuri/git.nix
  configs/shirayuri/default.nix
  configs/shirayuri/git.nix
  modules/by-name/g/git.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(kuroyuri): remove stylix
  configs/kuroyuri/configuration.nix
Due: flake_check

feat(kuroyuri): switch to plasma
  configs/kuroyuri/default.nix
Due: flake_check

fix(kuroyuri): enable networkmanager
  configs/kuroyuri/configuration.nix
Due: flake_check

feat(git): configure git.theless.one lfs, use shorter alias for diff
  modules/by-name/g/git.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(git): diff head by default
  modules/by-name/g/git.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(yubikey): use ssh agent
  modules/by-name/p/passkeys/yubikey.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(yubikey): undefined variable, feat(kuroyuri): add nixd and nixfmt
  configs/kuroyuri/configuration.nix
  modules/by-name/p/passkeys/yubikey.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(git): use delta for diffs
  modules/by-name/g/git.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: update nanomodules, set stateVersion
  configs/himeyuri/default.nix
  configs/kuroyuri/default.nix
  configs/shirayuri/default.nix
  configs/yamayuri/default.nix
  configs/yuri/default.nix
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: use librewolf instead of librewolf-bin
  modules/by-name/l/librewolf.nix
  modules/vr/wlx-overlay-s.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(git): avoid ifd
  modules/by-name/g/git.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(git): aliases
  modules/by-name/g/git.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(himeyuri): add melonDS
  configs/himeyuri/configuration.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(himeyuri): add device to theless.one network
  configs/himeyuri/default.nix
  configs/himeyuri/secrets/host.yaml
  configs/himeyuri/wireguard.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: add syncthing module
  configs/himeyuri/configuration.nix
  configs/kuroyuri/configuration.nix
  modules/by-name/s/syncthing.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(yamayuri): slim down the system
  configs/yamayuri/calendar.nix
  configs/yamayuri/default.nix
  configs/yamayuri/dyndns.nix
  configs/yamayuri/load-balancing.nix
  configs/yamayuri/networking/default.nix
  configs/yamayuri/networking/wireguard.nix
  configs/yamayuri/restic.nix
  configs/yamayuri/secrets/host.yaml
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: move u2f config
  modules/by-name/p/passkeys/yubikey.nix
  modules/by-name/p/passkeys/yuri.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(shirayuri): adb -> android-tools
  configs/shirayuri/configuration.nix
Due: flake_check

feat: add git 'feet'
  modules/by-name/g/git.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(minecraft): fix axiom gsettings error
  configs/himeyuri/configuration.nix
  configs/shirayuri/gaming/default.nix
  configs/shirayuri/nixpkgs-patches.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: statix check
  modules/by-name/s/suwayomi/default.nix
  modules/by-name/s/suwayomi/instance.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: more statix check
  configs/yuri/servers/uptime-kuma.nix
Due: deployment, flake_check, deploy_yuri

wlx-overlay-s -> wayvr
  modules/by-name/p/passkeys/yubikey.nix
  modules/vr/default.nix
  modules/vr/wayvr.nix
  modules/vr/wlx-overlay-s.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: checkout existing branch if it exists
  modules/by-name/g/git.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri
