Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

Path conditions:
  deploy_thelessnas: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**
  deployment: (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessone}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**)
  flake_check: any of: flake.lock, **/*.nix
  build_pkgs: any of: flake.lock, pkgs/**/*
  deploy: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deploy_thelessone: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  kickstart deployment: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow,thelessnas}/**
  deploy_yuri: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**

feat(yuri): power efficiency
  configs/yuri/hardware/cpu.nix
Due: deployment, flake_check, deploy_yuri

feat: use nix container for checks and updates
  .forgejo/workflows/check.yaml
  .forgejo/workflows/update.yaml
Due: none

feat: enable plasma on shirayuri
  configs/shirayuri/default.nix
  flake.lock
  modules/by-name/t/themes/catppuccin.nix
  modules/by-name/t/themes/cosmic.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(shirayuri/boot): add extraFiles and extraEntries support
  configs/shirayuri/configuration.nix
  configs/shirayuri/hardware/boot.nix
Due: flake_check

chore: jdks, wireguard nat
  configs/shirayuri/gaming/default.nix
  configs/shirayuri/wireguard.nix
Due: flake_check

chore: uuhhhh yeah-
  configs/shirayuri/wireguard.nix
  configs/yamayuri/default.nix
  configs/yamayuri/hardware/boot.nix
  configs/yamayuri/hardware/default.nix
  configs/yamayuri/hardware/mounts.nix
  configs/yamayuri/load-balancing.nix
  configs/yamayuri/networking/default.nix
  configs/yamayuri/networking/interface.nix
  configs/yamayuri/networking/ssh.nix
  configs/yamayuri/secrets/host.yaml
  configs/yuri/secrets/host.yaml
  configs/yuri/servers/calendar.nix
  configs/yuri/servers/default.nix
  configs/yuri/servers/domains.nix
  configs/yuri/servers/wireguard.nix
  flake.lock
  flake.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: migrate home-assistant to yamayuri
  configs/shirayuri/secrets/host.yaml
  configs/shirayuri/wireguard.nix
  configs/yamayuri/caddy.nix
  configs/yamayuri/default.nix
  configs/yamayuri/dyndns.nix
  configs/yamayuri/hass.nix
  configs/yamayuri/secrets/host.yaml
  configs/yamayuri/wireguard.nix
  configs/yuri/servers/default.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

flake.lock: Update
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: update fixes
  configs/shirayuri/configuration.nix
  configs/shirayuri/default.nix
  configs/shirayuri/nixpkgs-patches.nix
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: update locks
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: use auto power profile
  configs/himeyuri/hardware/gpu.nix
  configs/shirayuri/hardware/gpu.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: update flake.lock
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(yamayuri): add wireguard peer
  configs/shirayuri/wireguard.nix
  configs/yamayuri/wireguard.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(yamayuri): serve oh calendar
  configs/yamayuri/caddy.nix
  configs/yamayuri/calendar.nix
  configs/yamayuri/default.nix
  configs/yamayuri/dyndns.nix
  configs/yamayuri/hardware/default.nix
  configs/yamayuri/hardware/mounts.nix
  configs/yamayuri/secrets/host.yaml
  configs/yuri/secrets/host.yaml
  configs/yuri/servers/calendar.nix
  configs/yuri/servers/default.nix
  flake.lock
  flake.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: update discord-events-to-ics
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: sign extra efi files
  configs/shirayuri/hardware/boot.nix
Due: flake_check

chore: remove nixpkgs patch
  configs/shirayuri/nixpkgs-patches.nix
Due: flake_check

feat(shirayuri): add ausweisapp
  configs/shirayuri/configuration.nix
Due: flake_check

chore: use nixos-raspberrypi
  configs/yamayuri/default.nix
  configs/yamayuri/hardware/boot.nix
  configs/yamayuri/hardware/default.nix
  flake.lock
  flake.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(shirayuri): add spotify
  configs/shirayuri/configuration.nix
Due: flake_check

feat: add wg1
  configs/shirayuri/secrets/host.yaml
  configs/shirayuri/wireguard.nix
  configs/yamayuri/secrets/host.yaml
  configs/yamayuri/wireguard.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: remove tailscale
  configs/kuroyuri/configuration.nix
  configs/shirayuri/configuration.nix
  configs/yuri/configuration.nix
  configs/yuri/servers/restic-server.nix
Due: deployment, flake_check, deploy_yuri

feat(shirayuri): add droidcam
  configs/shirayuri/configuration.nix
Due: flake_check

fix: disable feishin
  configs/kuroyuri/configuration.nix
  configs/shirayuri/configuration.nix
Due: flake_check

feat(yamayuri): serve restic backup server for vpn network
  configs/yamayuri/default.nix
  configs/yamayuri/restic.nix
  configs/yamayuri/secrets/host.yaml
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(shirayuri): add libreoffice
  configs/shirayuri/configuration.nix
  flake.lock
  flake.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(yamayuri): use zigbee2mqtt
  configs/yamayuri/default.nix
  configs/yamayuri/hass.nix
  configs/yamayuri/secrets/host.yaml
  configs/yamayuri/zigbee2mqtt.nix
  flake.lock
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat: deduplicate dependencies
  configs/shirayuri/configuration.nix
  configs/shirayuri/default.nix
  flake.nix
Due: flake_check

flake.lock: Update
  flake.lock
  flake.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix: various things, too lazy for a proper message
  configs/himeyuri/git.nix
  configs/kuroyuri/git.nix
  configs/shirayuri/configuration.nix
  configs/shirayuri/git.nix
  flake.lock
  flake.nix
  modules/by-name/t/themes/catppuccin.nix
  modules/by-name/t/themes/cosmic.nix
  modules/by-name/t/themes/default.nix
  modules/by-name/t/themes/stylix.nix
  modules/vr/wlx-overlay-s.nix
Due: deploy_thelessnas, deployment, flake_check, build_pkgs, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(yuri): add sleep as android, dwd and increase home radius feat(shirayuri): add vopono daemon
  configs/shirayuri/configuration.nix
  configs/yamayuri/hass.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

feat(ci): add github access token
  .forgejo/workflows/update.yaml
Due: none

feat(shirayuri): replace droidcam with scrcpy and adb, up mpv default volume
  configs/shirayuri/configuration.nix
  modules/by-name/m/mpv.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

chore: disable lighthouse script, use adb + scrcpy for phone camera
  configs/shirayuri/configuration.nix
  modules/by-name/m/monado.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri

fix(yamayuri): lan ip address
  configs/yamayuri/calendar.nix
  configs/yamayuri/hass.nix
  configs/yamayuri/networking/deployment.nix
  configs/yamayuri/zigbee2mqtt.nix
Due: deploy_thelessnas, deployment, flake_check, deploy, deploy_thelessone, kickstart deployment, deploy_yuri
