Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: build_pkgs, deploy_thelessone, deployment, deploy_yuri

.woodpecker/build_pkgs.yaml:

when:
  - event: push
    branch: main
    path:
      include:
        - 'flake.lock'
        - 'pkgs/**/*'

labels:
  backend: local

depends_on:
  - flake_check

steps:
  - name: buildAll
    image: bash
    commands:
      - nix run .#buildAllx86Pkgs -- --no-nom --no-link

.woodpecker/deploy_thelessone.yaml:

when:
  - event: push
    path:
      include:
        - 'flake.lock'
        - '{pkgs,configs,lib,homeModules,modules}/**/*.nix'
      exclude:
        - 'configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**'

labels:
  backend: local

steps:
  - name: build
    image: bash
    commands:
      - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-link --no-nom

  - name: deployment
    when:
      - branch: main
        evaluate: not (CI_COMMIT_MESSAGE endsWith `!nodeploy`)
    depends_on:
      - build
    image: bash
    environment:
      DEPLOYMENT_KEY:
        from_secret: DEPLOYMENT_KEY
    commands:
      - echo "$DEPLOYMENT_KEY" > deployment
      - chmod 400 deployment
      - nix --extra-experimental-features "nix-command flakes" run .#deploy-thelessone -- switch deployment

.woodpecker/deploy_yuri.yaml:

when:
  - event: push
    path:
      include:
        - 'flake.lock'
        - '{pkgs,configs,lib,homeModules,modules}/**/*.nix'
      exclude:
        - 'configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**'

labels:
  backend: local

steps:
  - name: build
    image: bash
    commands:
      - nix-fast-build -f .#nixosConfigurations.yuri.config.system.build.toplevel --no-link --no-nom

  - name: deployment
    when:
      - branch: main
        evaluate: not (CI_COMMIT_MESSAGE endsWith `!nodeploy`)
    depends_on:
      - build
    image: bash
    environment:
      DEPLOYMENT_KEY_YURI:
        from_secret: DEPLOYMENT_KEY_YURI
    commands:
      - echo "$DEPLOYMENT_KEY_YURI" > deployment
      - chmod 400 deployment
      - nix --extra-experimental-features "nix-command flakes" run .#deploy-yuri -- switch deployment

feat(deploy): use nix copy
  deploy.nix
Due: none

feat(yuri): add vaultwarden
  configs/yuri/servers/caddy.nix
  configs/yuri/servers/default.nix
  configs/yuri/servers/vaultwarden.nix
Due: deployment, deploy_yuri

fix(yuri/vaultwarden): change db backend to sqlite
  configs/yuri/servers/vaultwarden.nix
Due: deployment, deploy_yuri

fix(yuri/bind): use higher ttl
  configs/yuri/servers/bind.nix
Due: deployment, deploy_yuri

chore(yuri/immich): use Medien category
  configs/yuri/servers/immich.nix
Due: deployment, deploy_yuri

feat(yuri): add media related servers
  configs/yuri/servers/arr-stack.nix
  configs/yuri/servers/default.nix
  configs/yuri/servers/jellyfin.nix
Due: deployment, deploy_yuri

chore(yuri): temporarily disable media servers
  configs/yuri/servers/arr-stack.nix
  configs/yuri/servers/jellyfin.nix
Due: deployment, deploy_yuri

feat(yuri): add zram and swap file
  configs/yuri/hardware/default.nix
  configs/yuri/hardware/swap.nix
Due: deployment, deploy_yuri

feat(yuri): add sorting of categories
  configs/yuri/servers/default.nix
  configs/yuri/servers/homepage.nix
Due: deployment, deploy_yuri

feat(yuri): add jellyseer, fix jellyfin description
  configs/yuri/servers/arr-stack.nix
  configs/yuri/servers/jellyfin.nix
Due: deployment, deploy_yuri

feat(yuri/arr-stack): selectively enable arr applications
  configs/yuri/servers/arr-stack.nix
  configs/yuri/servers/default.nix
Due: deployment, deploy_yuri

feat(yuri/caddy): add userEnvVar
  configs/yuri/servers/caddy.nix
Due: deployment, deploy_yuri

feat(thelessone): add homepage, and many, many services..
  configs/thelessone/servers/arr-stack.nix
  configs/thelessone/servers/caddy.nix
  configs/thelessone/servers/default.nix
  configs/thelessone/servers/forgejo.nix
  configs/thelessone/servers/homepage-image.nix
  configs/thelessone/servers/homepage.nix
  configs/thelessone/servers/immich.nix
  configs/thelessone/servers/jellyfin.nix
  configs/thelessone/servers/lavalink.nix
  configs/thelessone/servers/minecraft/servers.nix
  configs/thelessone/servers/nix-serve.nix
  configs/thelessone/servers/sabnzbd.nix
  configs/thelessone/servers/suwayomi.nix
  configs/thelessone/servers/uptime-kuma.nix
  configs/thelessone/servers/vaultwarden.nix
  configs/thelessone/servers/woodpecker.nix
Due: deploy_thelessone, deployment

chore: Update 02.05.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

fix(thelessone/arr-stack): prepend https://
  configs/thelessone/servers/arr-stack.nix
Due: deploy_thelessone, deployment

feat(thelessone/homepage): change ordering
  configs/thelessone/servers/default.nix
Due: deploy_thelessone, deployment

fix(thelessone/arr-stack): open firewall for radarr
  configs/thelessone/servers/arr-stack.nix
Due: deploy_thelessone, deployment

fix(thelessone/woodpecker): homepage icon
  configs/thelessone/servers/woodpecker.nix
Due: deploy_thelessone, deployment

feat(thelessone/arr-stack): add library directories
  configs/thelessone/servers/arr-stack.nix
  configs/thelessone/servers/jellyfin.nix
Due: deploy_thelessone, deployment

fix(thelessone/arr-stack): open firewall when possible
  configs/thelessone/servers/arr-stack.nix
Due: deploy_thelessone, deployment

fix(thelessone/arr-stack): use lists instead of attrs
  configs/thelessone/servers/arr-stack.nix
Due: deploy_thelessone, deployment

fix(thelessone/arr-stack): add arr-stack group
  configs/thelessone/servers/arr-stack.nix
Due: deploy_thelessone, deployment

fix(thelessone/arr-stack): infinite recursion, naming
  configs/thelessone/servers/arr-stack.nix
Due: deploy_thelessone, deployment

feat(thelessone/arr-stack): add anime library
  configs/thelessone/servers/arr-stack.nix
Due: deploy_thelessone, deployment

feat(thelessone/arr-stack): add anime movie library
  configs/thelessone/servers/arr-stack.nix
Due: deploy_thelessone, deployment

fix(thelessone/arr-stack): translate to english
  configs/thelessone/servers/arr-stack.nix
Due: deploy_thelessone, deployment

fix(thelessone/sabnzbd): use correct port for reverse proxy
  configs/thelessone/servers/sabnzbd.nix
Due: deploy_thelessone, deployment

fix(thelessone/hardware): configure cpu
  configs/thelessone/hardware/cpu.nix
  configs/thelessone/hardware/default.nix
Due: deploy_thelessone, deployment

feat(thelessone/homepage): use charts
  configs/thelessone/servers/homepage.nix
Due: deploy_thelessone, deployment

chore(thelessone/homepage): remove processes widget
  configs/thelessone/servers/homepage.nix
Due: deploy_thelessone, deployment

feat(yuri/bind): add lots of priority
  configs/yuri/servers/bind.nix
Due: deployment, deploy_yuri

fix(yuri/homepage): use correct network interface
  configs/yuri/servers/homepage.nix
Due: deployment, deploy_yuri

feat(modules): add gluetun, wip
  configs/shirayuri/default.nix
  configs/shirayuri/gluetun.nix
  configs/shirayuri/secrets.yaml
  modules/default.nix
  modules/gluetun/default.nix
  pkgs/gluetun/default.nix
  pkgs/gluetun/home.patch
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

fix: it87 kernel module
  configs/shirayuri/hardware/cooling.nix
  configs/thelessone/hardware/boot.nix
Due: deploy_thelessone, deployment

feat(yuri/bind): dns tweaks
  configs/shirayuri/configuration.nix
  configs/yuri/servers/bind.nix
Due: deployment, deploy_yuri

feat(yuri/bind): add fe80 network
  configs/yuri/servers/bind.nix
Due: deployment, deploy_yuri

feat(yuri/bind): add back alternative dns servers for cloudflare and google
  configs/yuri/servers/bind.nix
Due: deployment, deploy_yuri

feat(thelessone/arr-stack): setup usenet download directories
  configs/thelessone/servers/arr-stack.nix
Due: deploy_thelessone, deployment

fix(thelessone/arr-stack): create parent dirs
  configs/thelessone/servers/arr-stack.nix
Due: deploy_thelessone, deployment

fix(thelessone/sabnzbd): add sabnzbd to arr-stack group
  configs/thelessone/servers/sabnzbd.nix
Due: deploy_thelessone, deployment
