Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

.woodpecker/build_pkgs.yaml:

when:
  - event: push
    branch: main
    path:
      include:
        - 'flake.lock'
        - 'pkgs/**/*'

labels:
  backend: local

depends_on:
  - flake_check

steps:
  - name: buildAll
    image: bash
    commands:
      - nix run .#buildAllx86Pkgs -- --no-nom --no-link

.woodpecker/deploy.yaml:

when:
  - event: push
    path:
      include:
        - 'flake.lock'
        - '{pkgs,configs,lib,homeModules,modules}/**/*.nix'
      exclude:
        - 'configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**'

labels:
  backend: local

depends_on:
  - flake_check

steps:
  - name: build
    image: bash
    commands:
      - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-nom
      - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)

  - name: deployment
    when:
      - event: deployment
      - branch: main
        evaluate: not (CI_COMMIT_MESSAGE endsWith `!nodeploy`)
    depends_on:
      - build
    image: bash
    environment:
      DEPLOYMENT_KEY:
        from_secret: DEPLOYMENT_KEY
    commands:
      - echo "$DEPLOYMENT_KEY" > deployment
      - chmod 400 deployment
      - nix --extra-experimental-features "nix-command flakes" run .#deploy-thelessone -- switch deployment

.woodpecker/deploy_thelessone.yaml:

when:
  - event: push
    path:
      include:
        - 'flake.lock'
        - '{pkgs,configs,lib,homeModules,modules}/**/*.nix'
      exclude:
        - 'configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**'

labels:
  backend: local

steps:
  - name: build
    image: bash
    commands:
      - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-link --no-nom

  - name: deployment
    when:
      - branch: main
        evaluate: not (CI_COMMIT_MESSAGE endsWith `!nodeploy`)
    depends_on:
      - build
    image: bash
    environment:
      DEPLOYMENT_KEY:
        from_secret: DEPLOYMENT_KEY
    commands:
      - echo "$DEPLOYMENT_KEY" > deployment
      - chmod 400 deployment
      - nix --extra-experimental-features "nix-command flakes" run .#deploy-thelessone -- switch deployment

.woodpecker/deploy_yuri.yaml:

when:
  - event: push
    path:
      include:
        - 'flake.lock'
        - '{pkgs,configs,lib,homeModules,modules}/**/*.nix'
      exclude:
        - 'configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**'

labels:
  backend: local

depends_on:
  - flake_check

steps:
  - name: build
    image: bash
    commands:
      - nix-fast-build -f .#nixosConfigurations.yuri.config.system.build.toplevel --no-nom
      - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)

  - name: deployment
    when:
      - event: deployment
      - branch: main
        evaluate: not (CI_COMMIT_MESSAGE endsWith `!nodeploy`)
    depends_on:
      - build
    image: bash
    environment:
      DEPLOYMENT_KEY_YURI:
        from_secret: DEPLOYMENT_KEY_YURI
    commands:
      - echo "$DEPLOYMENT_KEY_YURI" > deployment
      - chmod 400 deployment
      - nix --extra-experimental-features "nix-command flakes" run .#deploy-yuri -- switch deployment

fix(thelessone/whisparr): subdomain
  configs/thelessone/servers/lab.nix
Due: deploy, deployment, deploy_thelessone

fix(modules/caddy): remove dns options from acme
  modules/by-name/c/caddy.nix
Due: deploy, deployment, deploy_thelessone, deploy_yuri

fix(modules/caddy): remove acme for now
  configs/thelessone/servers/lab.nix
  modules/by-name/c/caddy.nix
Due: deploy, deployment, deploy_thelessone, deploy_yuri

chore(modules): put vopono ports into their respective modules
  modules/by-name/f/flaresolverr.nix
  modules/by-name/l/lab-config.nix
  modules/by-name/l/lidarr.nix
  modules/by-name/p/prowlarr.nix
  modules/by-name/r/radarr.nix
  modules/by-name/s/sonarr.nix
  modules/by-name/w/whisparr.nix
Due: deploy, deployment, deploy_thelessone, deploy_yuri

feat(thelessone/vaultwarden): allow org creation
  configs/thelessone/servers/lab.nix
Due: deploy, deployment, deploy_thelessone

feat(pkgs): add whisparr v3
  modules/by-name/w/whisparr.nix
  pkgs/whisparr/default.nix
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

feat(yuri): enable whisparr
  configs/thelessone/servers/lab.nix
  configs/yuri/servers/media.nix
  modules/by-name/w/whisparr.nix
Due: deploy, deployment, deploy_thelessone, deploy_yuri

chore: Update 03.06.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

fix(thelessone/headscale): don't override local dns
  configs/thelessone/servers/headscale.nix
Due: deploy, deployment, deploy_thelessone

fix(thelessone/headscale): use random ports
  configs/thelessone/servers/headscale.nix
Due: deploy, deployment, deploy_thelessone

fix(modules/sabnzbd): allow port in vpn network namespace
  modules/by-name/s/sabnzbd.nix
Due: deploy, deployment, deploy_thelessone, deploy_yuri

feat(thelessone/metrics): add prometheus exporters
  configs/thelessone/secrets.yaml
  configs/thelessone/servers/metrics.nix
Due: deploy, deployment, deploy_thelessone

feat(thelessone/metrics): add nvidia gpu exporter
  configs/thelessone/servers/metrics.nix
Due: deploy, deployment, deploy_thelessone

fix(thelessone/metrics): sabnzbd exporter url
  configs/thelessone/servers/metrics.nix
Due: deploy, deployment, deploy_thelessone

chore: Update 04.06.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

fix(nix): set optimise to run daily
  configs/common/required/nix.nix
Due: deploy, deployment, deploy_thelessone, deploy_yuri

feat(thelessone/metrics): add woodpecker metrics
  configs/thelessone/secrets.yaml
  configs/thelessone/servers/metrics.nix
  configs/thelessone/servers/woodpecker.nix
Due: deploy, deployment, deploy_thelessone

feat(thelessone/metrics): add loki for log aggregation
  configs/thelessone/servers/metrics.nix
Due: deploy, deployment, deploy_thelessone

fix(thelessone/metrics): woodpecker token for prometheus
  configs/thelessone/servers/metrics.nix
Due: deploy, deployment, deploy_thelessone

fix(thelessone/metrics): grafana datasources update
  configs/thelessone/servers/metrics.nix
Due: deploy, deployment, deploy_thelessone

fix(thelessone/gnome): migrate deprecated attribute
  configs/thelessone/gnome.nix
Due: deploy, deployment, deploy_thelessone

fix(thelessone/metrics): remove deprecated shared_store option from loki
  configs/thelessone/servers/metrics.nix
Due: deploy, deployment, deploy_thelessone

fix(thelessone/metrics): set woodpecker key owner to prometheus
  configs/thelessone/servers/metrics.nix
Due: deploy, deployment, deploy_thelessone

fix(thelessone/metrics): remove deprecated options from loki configuration
  configs/thelessone/servers/metrics.nix
Due: deploy, deployment, deploy_thelessone

fix(thelessone/metrics): check prometheus config syntax only
  configs/thelessone/servers/metrics.nix
Due: deploy, deployment, deploy_thelessone

fix(thelessone/metrics): loki port in promtail
  configs/thelessone/servers/metrics.nix
Due: deploy, deployment, deploy_thelessone

feat(thelessone/metrics): loki ingester chunk age
  configs/thelessone/servers/metrics.nix
Due: deploy, deployment, deploy_thelessone

feat: add host thelessnas
  .sops.yaml
  configs/common/required/networking.nix
  configs/common/required/shell.nix
  configs/thelessnas/configuration.nix
  configs/thelessnas/default.nix
  configs/thelessnas/hardware/boot.nix
  configs/thelessnas/hardware/cpu.nix
  configs/thelessnas/hardware/default.nix
  configs/thelessnas/hardware/mounts.nix
  configs/thelessnas/hardware/swap.nix
  configs/thelessnas/openssh.nix
  configs/thelessnas/samba.nix
  configs/thelessnas/secrets.yaml
  flake.nix
Due: deploy, deployment, deploy_thelessone, deploy_yuri

feat!: migrate uptime-kuma from thelessone to yuri
  configs/thelessone/servers/uptime-kuma.nix
  configs/yuri/secrets.yaml
  configs/yuri/servers/default.nix
  configs/yuri/servers/uptime-kuma.nix
Due: deploy, deployment, deploy_thelessone, deploy_yuri

chore: Update 05.06.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

fix(yuri/uptime-kuma): use https
  configs/yuri/servers/uptime-kuma.nix
Due: deployment, deploy_yuri

fix(thelessnas): add deployment config
  configs/thelessnas/deployment.nix
Due: deploy, deployment, deploy_thelessone, deploy_yuri

fix(modules): data directories
  modules/by-name/c/caddy.nix
  modules/by-name/h/home-assistant.nix
  modules/by-name/v/vopono.nix
Due: deploy, deployment, deploy_thelessone, deploy_yuri

feat(yuri): disable integrated graphics module
  configs/yuri/hardware/boot.nix
Due: deployment, deploy_yuri

feat(yuri): move data directories to the nvme drives
  configs/yuri/servers/media.nix
Due: deployment, deploy_yuri

feat(yuri): disable a bunch of services
  configs/yuri/servers/media.nix
Due: deployment, deploy_yuri

fix(yuri/uptime-kuma): set data dir
  configs/yuri/servers/uptime-kuma.nix
Due: deployment, deploy_yuri

feat(yuri/caddy): set caddy log and data dir
  configs/thelessone/secrets.yaml
  configs/yuri/servers/media.nix
Due: deployment, deploy_yuri

fix(thelessnas): import deployment
  configs/thelessnas/default.nix
Due: deploy, deployment, deploy_thelessone, deploy_yuri
