Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

.woodpecker/build_pkgs.yaml:

when:
  - event: push
    branch: main
    path:
      include:
        - 'flake.lock'
        - 'pkgs/**/*'

labels:
  backend: local

depends_on:
  - flake_check

steps:
  - name: buildAll
    image: bash
    commands:
      - nix run .#buildAllx86Pkgs -- --no-nom --no-link

.woodpecker/deploy.yaml:

when:
  - event: push
    path:
      include:
        - 'flake.lock'
        - '{pkgs,configs,lib,homeModules,modules}/**/*.nix'
      exclude:
        - 'configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**'

labels:
  backend: local

depends_on:
  - flake_check

steps:
  - name: build
    image: bash
    commands:
      - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-nom
      - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)

  - name: deployment
    when:
      - event: deployment
      - branch: main
        evaluate: not (CI_COMMIT_MESSAGE endsWith `!nodeploy`)
    depends_on:
      - build
    image: bash
    environment:
      DEPLOYMENT_KEY:
        from_secret: DEPLOYMENT_KEY
    commands:
      - echo "$DEPLOYMENT_KEY" > deployment
      - chmod 400 deployment
      - nix --extra-experimental-features "nix-command flakes" run .#deploy-thelessone -- switch deployment

.woodpecker/deploy_thelessone.yaml:

when:
  - event: push
    path:
      include:
        - 'flake.lock'
        - '{pkgs,configs,lib,homeModules,modules}/**/*.nix'
      exclude:
        - 'configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**'

labels:
  backend: local

steps:
  - name: build
    image: bash
    commands:
      - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-link --no-nom

  - name: deployment
    when:
      - branch: main
        evaluate: not (CI_COMMIT_MESSAGE endsWith `!nodeploy`)
    depends_on:
      - build
    image: bash
    environment:
      DEPLOYMENT_KEY:
        from_secret: DEPLOYMENT_KEY
    commands:
      - echo "$DEPLOYMENT_KEY" > deployment
      - chmod 400 deployment
      - nix --extra-experimental-features "nix-command flakes" run .#deploy-thelessone -- switch deployment

.woodpecker/deploy_yuri.yaml:

when:
  - event: push
    path:
      include:
        - 'flake.lock'
        - '{pkgs,configs,lib,homeModules,modules}/**/*.nix'
      exclude:
        - 'configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**'

labels:
  backend: local

depends_on:
  - flake_check

steps:
  - name: build
    image: bash
    commands:
      - nix-fast-build -f .#nixosConfigurations.yuri.config.system.build.toplevel --no-nom
      - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)

  - name: deployment
    when:
      - event: deployment
      - branch: main
        evaluate: not (CI_COMMIT_MESSAGE endsWith `!nodeploy`)
    depends_on:
      - build
    image: bash
    environment:
      DEPLOYMENT_KEY_YURI:
        from_secret: DEPLOYMENT_KEY_YURI
    commands:
      - echo "$DEPLOYMENT_KEY_YURI" > deployment
      - chmod 400 deployment
      - nix --extra-experimental-features "nix-command flakes" run .#deploy-yuri -- switch deployment

fix(pkgs): pin openrgb version
  nvfetcher.toml
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

feat(modules/suwayomi)!: use unified downloads directory
  modules/suwayomi/default.nix
Due: deploy, deployment, deploy_thelessone, deploy_yuri

feat(pkgs/suwayomi-server): add asApplication option
  pkgs/suwayomi-server/default.nix
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

chore: Update 06.06.25
  flake.lock
  pkgs/_sources/generated.json
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

feat(thelessone): persist system thelessnas for easier deployment
  configs/thelessone/configuration.nix
Due: deploy, deployment, deploy_thelessone

chore: Update 07.06.25
  flake.lock
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

feat(ci): add thelessnas deployment
  .woodpecker/.deploy_thelessnas.yaml
  .woodpecker/deploy_thelessone.yaml
Due: none

feat(yuri): add fstrim
  configs/yuri/hardware/default.nix
Due: deployment, deploy_yuri

fix(thelessone/deployment): add host key for thelessnas
  configs/thelessnas/deployment.nix
  configs/thelessone/deployment.nix
Due: deploy, deployment, deploy_thelessone, deploy_yuri

feat(thelessone/mounts): add nas mount
  configs/thelessone/hardware/mounts.nix
Due: deploy, deployment, deploy_thelessone

feat(thelessnas): add coolercontrol
  configs/thelessnas/configuration.nix
Due: deploy, deployment, deploy_thelessone, deploy_yuri

feat(theless{one,nas}): open coolercontrol to the network
  configs/thelessnas/configuration.nix
  configs/thelessone/servers/caddy.nix
Due: deploy, deployment, deploy_thelessone, deploy_yuri

feat(thelessnas): add it87 kernel module
  configs/thelessnas/configuration.nix
  configs/thelessnas/coolercontrol.nix
  configs/thelessnas/default.nix
Due: deploy, deployment, deploy_thelessone, deploy_yuri

feat(thelessnas): add stash
  configs/thelessone/secrets.yaml
  configs/thelessone/servers/default.nix
  configs/thelessone/servers/stash.nix
Due: deploy, deployment, deploy_thelessone

fix(modules/transmission): define host for caddy
  modules/by-name/t/transmission.nix
Due: deploy, deployment, deploy_thelessone, deploy_yuri

fix(thelessone/stash): change password
  configs/thelessone/secrets.yaml
Due: none

fix(thelessone/stash): change admin username, add to arr-stack group
  configs/thelessone/servers/stash.nix
Due: deploy, deployment, deploy_thelessone

chore: Update 08.06.25
  flake.lock
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

feat(thelessone/stash): allow mutable scrapers and plugins
  configs/thelessone/servers/stash.nix
Due: deploy, deployment, deploy_thelessone

feat(thelessone/stash): add chromium
  configs/thelessone/secrets.yaml
  configs/thelessone/servers/stash.nix
Due: deploy, deployment, deploy_thelessone

fix: ignore result-
  .gitignore
Due: none

feat(firefox): add vpn profile
  configs/common/optional/browsers/firefox.nix
Due: deploy, deployment, deploy_thelessone, deploy_yuri

chore: Update 09.06.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  pkgs/versions.json
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

fix(thelessone): change vpn connection
  configs/thelessone/secrets.yaml
Due: none

feat(shirayuri): reinstall
  configs/shirayuri/hardware/disks.nix
Due: none

feat: configure firefox through home manager
  configs/common/optional/browsers/firefox.nix
  configs/common/required/nix.nix
  flake.lock
  flake.nix
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

chore: Update 09.06.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

chore: Update 10.06.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  pkgs/versions.json
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

feat(pkgs): add automatic updates for lidarr, prowlarr, and radarr
  modules/by-name/l/lidarr.nix
  nvfetcher.toml
  pkgs/lidarr/default.nix
  pkgs/prowlarr/default.nix
  pkgs/radarr/default.nix
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

feat(shirayuri): add keys for update
  configs/common/required/shell.nix
  configs/shirayuri/configuration.nix
  configs/shirayuri/secrets.yaml
  update.nix
Due: deploy, deployment, deploy_thelessone, deploy_yuri

chore: Update 10.06.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

feat: optimize rb script, actually add generation to system environment
  .gitignore
  configs/common/required/nix.nix
  configs/common/required/shell.nix
Due: deploy, deployment, deploy_thelessone, deploy_yuri

feat(pkgs): add automatic updates for whisparr
  nvfetcher.toml
  pkgs/whisparr/default.nix
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

chore: Update 11.06.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  pkgs/versions.json
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

feat(pkgs): add automatic updates for osu-lazer-bin
  nvfetcher.toml
  pkgs/osu-lazer-bin/default.nix
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

chore(ci)!: remove build_pkgs
  .woodpecker/build_pkgs.yaml
  pkgs/default.nix
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

chore: Update 11.06.25
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

fix(ci): allow unfree pkgs
  .woodpecker/.flake_check.yaml
  modules/default.nix
Due: deploy, deployment, deploy_thelessone, deploy_yuri

fix: use master branch for radarr
  nvfetcher.toml
Due: none
