Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: build_pkgs, deploy_thelessone, deployment, deploy_yuri

build_pkgs:
  steps:
  - name: buildAll
    image: bash
    commands:
    - nix run .#buildAllx86Pkgs -- --no-nom --no-link

deploy_thelessone:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-link --no-nom
  - name: deployment
    when:
    - branch: main
      evaluate: not (CI_COMMIT_MESSAGE endsWith `!nodeploy`)
    depends_on:
    - build
    image: bash
  ...

deployment:
  depends_on:
  - build
  image: bash
  environment:
    DEPLOYMENT_KEY:
      from_secret: DEPLOYMENT_KEY
  commands:
  - echo "$DEPLOYMENT_KEY" > deployment
  - chmod 400 deployment
  - nix --extra-experimental-features "nix-command flakes" run .#deploy-thelessone -- switch deployment

deploy_yuri:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.yuri.config.system.build.toplevel --no-link --no-nom
  - name: deployment
    when:
    - branch: main
      evaluate: not (CI_COMMIT_MESSAGE endsWith `!nodeploy`)
    depends_on:
    - build
    image: bash
    environment:
  ...

fix(thelessone/arr-stack): main group to arr-stack group
  configs/thelessone/servers/arr-stack.nix
  configs/thelessone/servers/sabnzbd.nix
Due: deploy_thelessone, deployment

chore: Update 04.05.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

feat(thelessone/arr-stack): add anisync directory
  configs/thelessone/servers/arr-stack.nix
Due: deploy_thelessone, deployment

fix: rofi shortcut on plasma
  configs/common/optional/desktopmanagers/plasma.nix
  configs/common/optional/rofi.nix
  configs/shirayuri/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(passkeys): add gpg hardware option
  configs/common/optional/passkeys/yubikey.nix
Due: deploy_thelessone, deployment, deploy_yuri

feat(pkgs): add suwayomi-server and suwayomi-webui
  nvchecker.toml
  nvfetcher.nix
  nvfetcher.toml
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  pkgs/_versions/new_ver.json
  pkgs/_versions/old_ver.json
  pkgs/default.nix
  pkgs/suwayomi-server/default.nix
  pkgs/suwayomi-server/deps.json
  pkgs/suwayomi-server/version.patch
  pkgs/suwayomi-webui/default.nix
  pkgs/suwayomi-webui/version.patch
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

fix(plasma): window maximize key
  configs/common/optional/desktopmanagers/plasma.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(rofi): add missing desktop entry categories
  configs/common/optional/rofi.nix
Due: deploy_thelessone, deployment, deploy_yuri

feat(shirayuri): use router dns and enable waydroid
  configs/shirayuri/configuration.nix
Due: none

chore(shirayuri): disable rofi
  configs/shirayuri/default.nix
Due: none

chore: Update 06.05.25
  flake.lock
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

fix(pkgs): use recursive set for own dependencies
  pkgs/default.nix
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

feat(yuri): enable media services
  configs/yuri/servers/arr-stack.nix
  configs/yuri/servers/default.nix
  configs/yuri/servers/media/arr-stack.nix
  configs/yuri/servers/media/default.nix
  configs/yuri/servers/media/jellyfin.nix
  configs/yuri/servers/media/sabnzbd.nix
Due: deployment, deploy_yuri

fix(theme): use correct display for plasma
  configs/common/optional/theme.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(rofi): change desktop entry to applications
  configs/common/optional/rofi.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(plasma): use british english shortcut keys too
  configs/common/optional/desktopmanagers/plasma.nix
Due: deploy_thelessone, deployment, deploy_yuri

feat(thelessone/minecraft): add player MaruMaruKyun !nodeploy
  configs/thelessone/servers/minecraft/servers.nix
Due: deploy_thelessone, deployment

chore: Update 07.05.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

feat(thelessone/suwayomi): use suwayomi server v2
  configs/thelessone/servers/suwayomi.nix
  modules/suwayomi/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

chore: Update 07.05.25
  flake.lock
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

feat(yuri/jellyfin): enable
  configs/yuri/servers/media/jellyfin.nix
Due: deployment, deploy_yuri

feat(modules/dynamicdns): restart on network change
  modules/dynamicdns/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

feat(yuri/arr-stack): don't show application if not enabled in homepage
  configs/yuri/servers/media/arr-stack.nix
Due: deployment, deploy_yuri

feat(yuri/arr-stack): break up into seperate files
  configs/yuri/servers/media/arr-stack.nix
  configs/yuri/servers/media/bazarr.nix
  configs/yuri/servers/media/default.nix
  configs/yuri/servers/media/jellyseerr.nix
  configs/yuri/servers/media/lidarr.nix
  configs/yuri/servers/media/prowlarr.nix
  configs/yuri/servers/media/radarr.nix
  configs/yuri/servers/media/sonarr.nix
Due: deployment, deploy_yuri

chore(yuri/arr-stack): disable lidarr
  configs/yuri/servers/media/arr-stack.nix
Due: deployment, deploy_yuri

chore(yuri/home-assistant): Smart Home -> Dienste
  configs/yuri/servers/default.nix
  configs/yuri/servers/home-assistant.nix
Due: deployment, deploy_yuri

feat(thelessone/minecraft): add nether portal fix
  configs/thelessone/servers/minecraft/servers.nix
Due: deploy_thelessone, deployment

fix(thelessone/minecraft): add balm for nether portal fix
  configs/thelessone/servers/minecraft/servers.nix
Due: deploy_thelessone, deployment

fix(yuri/arr-stack): add parent directories
  configs/thelessone/servers/arr-stack.nix
Due: deploy_thelessone, deployment

fix(thelessone/suwayomi): set package
  configs/thelessone/servers/suwayomi.nix
  modules/suwayomi/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

feat: add transmission to arr stack
  configs/thelessone/secrets.yaml
  configs/thelessone/servers/arr-stack.nix
  configs/thelessone/servers/default.nix
  configs/thelessone/servers/transmission.nix
  configs/yuri/secrets.yaml
  configs/yuri/servers/media/arr-stack.nix
  configs/yuri/servers/media/default.nix
  configs/yuri/servers/media/transmission.nix
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

chore: Update 09.05.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

feat: add cfg.user to vopono
  configs/thelessone/servers/transmission.nix
  configs/yuri/servers/media/transmission.nix
Due: deploy_thelessone, deployment, deploy_yuri

feat: add sudo priviledges for vopono
  configs/thelessone/servers/transmission.nix
  configs/yuri/servers/media/transmission.nix
Due: deploy_thelessone, deployment, deploy_yuri

feat(modules): add vopono module
  configs/thelessone/servers/transmission.nix
  configs/yuri/servers/media/transmission.nix
  modules/vopono/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(transmission): add extra flags
  configs/thelessone/servers/transmission.nix
  configs/yuri/servers/media/transmission.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(transmission): open ports
  configs/thelessone/servers/transmission.nix
  configs/yuri/servers/media/transmission.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(thelessone/transmission): use tls
  configs/thelessone/servers/transmission.nix
Due: deploy_thelessone, deployment

fix(transmission): use vopono host
  configs/thelessone/servers/caddy.nix
  configs/thelessone/servers/transmission.nix
  configs/yuri/servers/caddy.nix
  configs/yuri/servers/media/transmission.nix
  modules/vopono/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(vopono): add user for vopono
  modules/vopono/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

Path conditions:
  build_pkgs: any of: flake.lock, pkgs/**/*
  deploy_thelessone: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deployment: (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**)
  deploy_yuri: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**
