Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: build_pkgs, deploy_thelessone, deployment, deploy_yuri

build_pkgs:
  steps:
  - name: buildAll
    image: bash
    commands:
    - nix run .#buildAllx86Pkgs -- --no-nom --no-link

deploy_thelessone:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-link --no-nom
  - name: deployment
    when:
    - branch: main
      evaluate: not (CI_COMMIT_MESSAGE endsWith `!nodeploy`)
    depends_on:
    - build
    image: bash
  ...

deployment:
  depends_on:
  - build
  image: bash
  environment:
    DEPLOYMENT_KEY:
      from_secret: DEPLOYMENT_KEY
  commands:
  - echo "$DEPLOYMENT_KEY" > deployment
  - chmod 400 deployment
  - nix --extra-experimental-features "nix-command flakes" run .#deploy-thelessone -- switch deployment

deploy_yuri:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.yuri.config.system.build.toplevel --no-nom
    - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)
  - name: deployment
    when:
    - event: deployment
    - branch: main
  ...

fix(modules): add back caddy http(s) check
  configs/thelessone/servers/default.nix
  configs/thelessone/servers/immich.nix
  modules/bazarr/default.nix
  modules/home-assistant/default.nix
  modules/homepage-images/default.nix
  modules/homepage/default.nix
  modules/immich/default.nix
  modules/jellyfin/default.nix
  modules/jellyseerr/default.nix
  modules/lidarr/default.nix
  modules/paperless/default.nix
  modules/prowlarr/default.nix
  modules/radarr/default.nix
  modules/sabnzbd/default.nix
  modules/sonarr/default.nix
  modules/transmission/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

feat(thelessone/minecraft): add Markussd1 to the whitelist, seperate whitelist from servers file
  configs/thelessone/servers/minecraft/servers.nix
  configs/thelessone/servers/minecraft/whitelist.nix
Due: deploy_thelessone, deployment

feat(shirayuri/wireguard): add postUp and preDown to wg interface
  configs/shirayuri/wireguard.nix
Due: none

feat: wireguard -> headscale
  configs/shirayuri/default.nix
  configs/shirayuri/tailscale.nix
  configs/shirayuri/wireguard.nix
  configs/thelessone/deployment.nix
  configs/thelessone/servers/default.nix
  configs/thelessone/servers/dns.nix
  configs/thelessone/servers/headscale.nix
  configs/thelessone/servers/nix-serve.nix
  configs/thelessone/servers/wireguard.nix
  configs/thelessone/tailscale.nix
  configs/yuri/deployment.nix
  configs/yuri/tailscale.nix
  flake.lock
  flake.nix
  modules/caddy/default.nix
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  pkgs/_versions/new_ver.json
  update.nix
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

fix(thelessone): simplify domains, fix vpn network metric
  configs/thelessone/servers/default.nix
Due: deploy_thelessone, deployment

chore: Update 18.05.25
  configs/common/optional/browsers/firefox.nix
  configs/common/optional/vr/monado.nix
  configs/thelessone/servers/default.nix
  flake.lock
  flake.nix
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

chore: remove gluetun
  modules/gluetun/default.nix
  pkgs/gluetun/default.nix
  pkgs/gluetun/home.patch
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

fix(thelessone/media): shallow merge order
  configs/thelessone/servers/default.nix
Due: deploy_thelessone, deployment

fix(modules/caddy): don't add http(s) to the domain name
  configs/yuri/servers/media.nix
  modules/caddy/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

feat(thelessone): add metrics services
  configs/thelessone/servers/default.nix
  configs/thelessone/servers/metrics.nix
Due: deploy_thelessone, deployment

fix(thelessone/metrics): use different port for prometheus
  configs/thelessone/servers/metrics.nix
Due: deploy_thelessone, deployment

chore: Update 19.05.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  pkgs/_versions/new_ver.json
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

feat(thelessone/suwayomi): add mei's instance, use vpn
  configs/thelessone/servers/suwayomi.nix
Due: deploy_thelessone, deployment

chore(modules/suwayomi): refactor idiomatically
  modules/suwayomi/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(thelessone/suwayomi): add dns entries to headscale
  configs/thelessone/servers/suwayomi.nix
Due: deploy_thelessone, deployment

feat(thelessone/suwayomi): add flaresolverr
  configs/thelessone/servers/suwayomi.nix
Due: deploy_thelessone, deployment

feat(thelessone): put homepage and immich behind the vpn
  configs/thelessone/servers/default.nix
  configs/thelessone/servers/immich.nix
Due: deploy_thelessone, deployment

fix(modules/homepage): baseDomain -> domain
  modules/homepage/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(thelessone/immich): use correct subdomain
  configs/thelessone/servers/immich.nix
Due: deploy_thelessone, deployment

feat(thelessone/suwayomi): use flaresolver by default
  configs/thelessone/servers/suwayomi.nix
Due: deploy_thelessone, deployment

fix(modules/homepage): add subdomain to allowed hosts
  modules/homepage/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

chore(theme): change default wallpaper
  configs/common/optional/theme.nix
Due: deploy_thelessone, deployment, deploy_yuri

chore: Update 21.05.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  pkgs/_versions/new_ver.json
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

chore(shirayuri): enable networkmanager
  configs/shirayuri/configuration.nix
Due: none

chore: Update 21.05.25
  flake.lock
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

chore(vr): remove monado patch
  configs/common/optional/vr/monado.nix
Due: deploy_thelessone, deployment, deploy_yuri

feat(modules/caddy): add vpnOnly option to reverseProxies
  configs/thelessone/servers/default.nix
  configs/thelessone/servers/immich.nix
  configs/thelessone/servers/metrics.nix
  configs/thelessone/servers/nix-serve.nix
  configs/thelessone/servers/suwayomi.nix
  modules/caddy/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

chore(locale): supportedLocales -> extraLocales
  configs/common/required/locale.nix
  configs/kuroyuri/configuration.nix
  configs/shirayuri/configuration.nix
  configs/yuri/configuration.nix
Due: deploy_thelessone, deployment, deploy_yuri

feat(thelessone/mounts): add raid devices
  configs/thelessone/hardware/mounts.nix
Due: deploy_thelessone, deployment

feat(modules/media-easify): add arrHome
  configs/thelessone/servers/default.nix
  modules/jellyfin/default.nix
  modules/media-easify/default.nix
  modules/sabnzbd/default.nix
  modules/transmission/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

feat(thelessone/homepage): add metrics for the RAID drives
  configs/thelessone/servers/default.nix
Due: deploy_thelessone, deployment

fix(modules/prowlarr): allow radarr and sonarr ports for vopono
  modules/prowlarr/default.nix
  modules/vopono/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(yuri): extra locale
  configs/yuri/configuration.nix
Due: deployment, deploy_yuri

fix(modules/vopono): allow host access
  modules/vopono/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(vrchat): vrcx autostart
  configs/common/optional/vr/vrchat.nix
  configs/meow/vrchat.nix
  flake.lock
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

fix(thelessone/homepage): set vpnOnly
  configs/thelessone/servers/default.nix
  flake.lock
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

feat(modules/jellyfin): refactor, add music path
  modules/jellyfin/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

chore: Update 23.05.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  pkgs/_versions/new_ver.json
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

chore: Update 23.05.25
  nvchecker.toml
  pkgs/_versions/new_ver.json
  pkgs/suwayomi-server/deps.json
Due: build_pkgs

fix(yuri): locales
  configs/common/required/locale.nix
  configs/yuri/configuration.nix
Due: deploy_thelessone, deployment, deploy_yuri

Path conditions:
  build_pkgs: any of: flake.lock, pkgs/**/*
  deploy_thelessone: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deployment: (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**)
  deploy_yuri: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**
