Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: build_pkgs, deploy_thelessone, deployment, deploy_yuri

.woodpecker/build_pkgs.yaml:

when:
  - event: push
    branch: main
    path:
      include:
        - 'flake.lock'
        - 'pkgs/**/*'

labels:
  backend: local

depends_on:
  - flake_check

steps:
  - name: buildAll
    image: bash
    commands:
      - nix run .#buildAllx86Pkgs -- --no-nom --no-link

.woodpecker/deploy_thelessone.yaml:

when:
  - event: push
    path:
      include:
        - 'flake.lock'
        - '{pkgs,configs,lib,homeModules,modules}/**/*.nix'
      exclude:
        - 'configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**'

labels:
  backend: local

steps:
  - name: build
    image: bash
    commands:
      - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-link --no-nom

  - name: deployment
    when:
      - branch: main
        evaluate: not (CI_COMMIT_MESSAGE endsWith `!nodeploy`)
    depends_on:
      - build
    image: bash
    environment:
      DEPLOYMENT_KEY:
        from_secret: DEPLOYMENT_KEY
    commands:
      - echo "$DEPLOYMENT_KEY" > deployment
      - chmod 400 deployment
      - nix --extra-experimental-features "nix-command flakes" run .#deploy-thelessone -- switch deployment

.woodpecker/deploy_yuri.yaml:

when:
  - event: push
    path:
      include:
        - 'flake.lock'
        - '{pkgs,configs,lib,homeModules,modules}/**/*.nix'
      exclude:
        - 'configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**'

labels:
  backend: local

steps:
  - name: build
    image: bash
    commands:
      - nix-fast-build -f .#nixosConfigurations.yuri.config.system.build.toplevel --no-link --no-nom

  - name: deployment
    when:
      - branch: main
        evaluate: not (CI_COMMIT_MESSAGE endsWith `!nodeploy`)
    depends_on:
      - build
    image: bash
    environment:
      DEPLOYMENT_KEY_YURI:
        from_secret: DEPLOYMENT_KEY_YURI
    commands:
      - echo "$DEPLOYMENT_KEY_YURI" > deployment
      - chmod 400 deployment
      - nix --extra-experimental-features "nix-command flakes" run .#deploy-yuri -- switch deployment

fix(vopono): add sudo from security wrappers
  modules/vopono/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(vopono): fix wrapper dir
  modules/vopono/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(vopono): allow sudo for vopono user
  modules/vopono/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(vopono): use correct host settings
  configs/thelessone/servers/transmission.nix
  configs/yuri/servers/media/transmission.nix
  modules/vopono/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(vopono): use vopono user
  modules/vopono/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(transmission): bind to network namespace address
  configs/thelessone/servers/transmission.nix
  configs/yuri/servers/media/transmission.nix
  modules/vopono/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

feat(yuri/disks): add mount for btrfs raid
  configs/yuri/hardware/disks.nix
Due: deployment, deploy_yuri

chore(modules/suwayomi): refactor
  modules/suwayomi/default.nix
  modules/suwayomi/instance.nix
Due: deploy_thelessone, deployment, deploy_yuri

feat(modules/suwayomi): add user and group options
  modules/suwayomi/default.nix
  modules/suwayomi/instance.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(modules/suwayomi): fix conditions
  modules/suwayomi/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(modules/suwayomi): fix server.conf location
  modules/suwayomi/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

feat(thelessone/suwayomi): add extension repos
  configs/thelessone/servers/suwayomi.nix
Due: deploy_thelessone, deployment

chore: Update 10.05.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  pkgs/_versions/new_ver.json
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

feat: change nvfetcher update to update everything
  flake.nix
  update.nix
Due: none

chore: Update 11.05.25
  flake.lock
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

feat(ci): add nvd to show system diff in ci, deploy on deploy button if nodeploy defined !nodeploy
  .woodpecker/deploy_thelessone.yaml
  .woodpecker/deploy_yuri.yaml
  configs/thelessone/servers/woodpecker.nix
Due: deploy_thelessone, deployment

fix(thelessone/homepage): set glances columns to 3
  configs/thelessone/servers/default.nix
Due: deploy_thelessone, deployment

feat(thelessone/minecraft): add PooPooManPan to the whitelist
  configs/thelessone/servers/minecraft/servers.nix
Due: deploy_thelessone, deployment

feat(modules/transmission): set default download and upload limits, add blocklist
  configs/yuri/servers/media.nix
  modules/transmission/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

feat(configs/plasma): add ocr
  configs/common/optional/desktopmanagers/plasma.nix
  configs/common/optional/rofi.nix
Due: deploy_thelessone, deployment, deploy_yuri

chore: Update 13.05.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

chore: Update 14.05.25
  flake.lock
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

feat(thelessone/media): enable lidarr
  configs/thelessone/servers/default.nix
Due: deploy_thelessone, deployment

fix: downgrade nixpkgs for thelessone
  flake.lock
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

fix(modules/lidarr): enable by default
  modules/lidarr/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(shirayuri/ssh): add keepalive settings to at
  configs/shirayuri/ssh.nix
Due: none

feat(thelessone): add wireguard
  configs/thelessone/secrets.yaml
  configs/thelessone/servers/default.nix
  configs/thelessone/servers/wireguard.nix
Due: deploy_thelessone, deployment

feat(shirayuri): add wireguard
  configs/shirayuri/default.nix
  configs/shirayuri/secrets.yaml
  configs/shirayuri/wireguard.nix
Due: none

feat(thelessone/homepage): add wireguard network interface
  configs/thelessone/servers/default.nix
Due: deploy_thelessone, deployment

feat(thelessone): restrict homelab to vpn
  configs/thelessone/servers/default.nix
  configs/thelessone/servers/nix-serve.nix
  configs/thelessone/servers/wireguard.nix
Due: deploy_thelessone, deployment

fix(thelessone): temporarily expose jellyfin to the web
  configs/thelessone/servers/default.nix
Due: deploy_thelessone, deployment

feat(thelessone): add server alias for vpn only connections
  configs/thelessone/servers/default.nix
Due: deploy_thelessone, deployment

chore: caddy https simplification
  configs/thelessone/servers/default.nix
  configs/thelessone/servers/immich.nix
  modules/bazarr/default.nix
  modules/caddy/default.nix
  modules/home-assistant/default.nix
  modules/homepage-images/default.nix
  modules/homepage/default.nix
  modules/immich/default.nix
  modules/jellyfin/default.nix
  modules/jellyseerr/default.nix
  modules/lidarr/default.nix
  modules/paperless/default.nix
  modules/prowlarr/default.nix
  modules/radarr/default.nix
  modules/sabnzbd/default.nix
  modules/sonarr/default.nix
  modules/transmission/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

chore(thelessone): put jellyfin and jellyseerr behind the vpn
  configs/thelessone/servers/default.nix
Due: deploy_thelessone, deployment

chore: switch wireguard to wg-quick
  configs/shirayuri/wireguard.nix
  configs/thelessone/servers/wireguard.nix
Due: deploy_thelessone, deployment

fix(thelessone/wireguard): fix prefix length
  configs/thelessone/servers/wireguard.nix
Due: deploy_thelessone, deployment

chore: disable networkmanager
  configs/common/required/networking.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(thelessone): remove unnecessary domain since DNS works now
  configs/thelessone/servers/default.nix
Due: deploy_thelessone, deployment
