Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: build_pkgs, deploy_thelessone, deployment, deploy_yuri

build_pkgs:
  steps:
  - name: buildAll
    image: bash
    commands:
    - nix run .#buildAllx86Pkgs -- --no-nom --no-link

deploy_thelessone:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-link --no-nom
  - name: deployment
    when:
    - branch: main
      evaluate: not (CI_COMMIT_MESSAGE endsWith `!nodeploy`)
    depends_on:
    - build
    image: bash
  ...

deployment:
  depends_on:
  - build
  image: bash
  environment:
    DEPLOYMENT_KEY:
      from_secret: DEPLOYMENT_KEY
  commands:
  - echo "$DEPLOYMENT_KEY" > deployment
  - chmod 400 deployment
  - nix --extra-experimental-features "nix-command flakes" run .#deploy-thelessone -- switch deployment

deploy_yuri:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.yuri.config.system.build.toplevel --no-link --no-nom
  - name: deployment
    when:
    - branch: main
      evaluate: not (CI_COMMIT_MESSAGE endsWith `!nodeploy`)
    depends_on:
    - build
    image: bash
    environment:
  ...

feat(ci): add flake check, remove statix check due to precommit
  .woodpecker/.flake_check.yaml
  .woodpecker/.static_check.yaml
  flake.lock
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

feat(thelessone): add steam
  configs/thelessone/servers/steam.nix
Due: deploy_thelessone, deployment

chore: Update 26.04.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

feat(shirayuri): add osu specilisation
  configs/shirayuri/configuration.nix
Due: none

chore: Update 27.04.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

chore: Update 29.04.25
  flake.lock
  flake.nix
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  pkgs/rofi-themes/default.nix
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

feat(thelessone): add prismlauncher
  configs/thelessone/configuration.nix
Due: deploy_thelessone, deployment

fix: remove lsd.enableAliases
  configs/common/optional/shell-utils.nix
Due: deploy_thelessone, deployment, deploy_yuri

feat(firefox): add nixos searches, use firefox nightly
  configs/common/optional/browsers/firefox.nix
Due: deploy_thelessone, deployment, deploy_yuri

chore: put xdg desktop portal into desktopManagers/default.nix
  configs/common/optional/desktopmanagers/default.nix
  configs/common/optional/desktopmanagers/plasma.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(shirayuri/cpu): use getExe' to silence warning
  configs/shirayuri/hardware/cpu.nix
Due: none

fix: add xdg desktop portal to kuroyuri, lesstop, and shirayuri
  configs/kuroyuri/default.nix
  configs/lesstop/default.nix
  configs/shirayuri/default.nix
Due: none

fix: apply fixes to meow
  configs/meow/cpu.nix
  configs/meow/shell.nix
Due: none

feat: add sway
  configs/common/optional/desktopmanagers/sway.nix
  configs/common/optional/theme.nix
Due: deploy_thelessone, deployment, deploy_yuri

chore: Update 29.04.25
  flake.lock
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

feat(theme): add gtk options
  configs/common/optional/theme.nix
Due: deploy_thelessone, deployment, deploy_yuri

chore: Update 01.05.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

feat(yuri): add homepage
  configs/yuri/servers/bind.nix
  configs/yuri/servers/caddy.nix
  configs/yuri/servers/default.nix
  configs/yuri/servers/home-assistant.nix
  configs/yuri/servers/homepage.nix
Due: deployment, deploy_yuri

fix(yuri): add open ports, use internal tls, remove duplicates
  configs/yuri/servers/bind.nix
  configs/yuri/servers/caddy.nix
  configs/yuri/servers/calendar.nix
Due: deployment, deploy_yuri

fix(yuri/caddy): add nssTools to systemd service path
  configs/yuri/servers/caddy.nix
Due: deployment, deploy_yuri

fix(yuri/homepage): remove base setting
  configs/yuri/servers/homepage.nix
Due: deployment, deploy_yuri

fix(yuri/homepage): add allowedHosts
  configs/yuri/servers/homepage.nix
Due: deployment, deploy_yuri

feat(yuri): add homepage settings
  configs/yuri/servers/homepage.nix
Due: deployment, deploy_yuri

fix(yuri/homepage): fix services
  configs/yuri/servers/homepage.nix
Due: deployment, deploy_yuri

feat(yuri): add paperless
  configs/yuri/secrets.yaml
  configs/yuri/servers/caddy.nix
  configs/yuri/servers/default.nix
  configs/yuri/servers/homepage.nix
  configs/yuri/servers/paperless.nix
Due: deployment, deploy_yuri

fix(yuri/caddy): add mkReverseProxy, cast to string
  configs/yuri/servers/caddy.nix
Due: deployment, deploy_yuri

feat(yuri): use .local, add glances
  configs/yuri/servers/bind.nix
  configs/yuri/servers/caddy.nix
  configs/yuri/servers/home-assistant.nix
  configs/yuri/servers/homepage.nix
  configs/yuri/servers/paperless.nix
Due: deployment, deploy_yuri

feat(ci): depend on flake_check for build processes
  .woodpecker/build_pkgs.yaml
  .woodpecker/deploy_thelessone.yaml
  .woodpecker/deploy_yuri.yaml
Due: none

feat(yuri/homepage): configure layout for glances
  configs/yuri/servers/homepage.nix
Due: deployment, deploy_yuri

fix(yuri/paperless): add consumptionDirIsPublic
  configs/yuri/servers/homepage.nix
  configs/yuri/servers/paperless.nix
Due: deployment, deploy_yuri

feat(yuri/homepage): remove widgets, add utility function
  configs/yuri/servers/homepage.nix
Due: deployment, deploy_yuri

fix(yuri/paperless): remove address, woops !nodeploy
  configs/yuri/servers/paperless.nix
Due: deployment, deploy_yuri

feat: add prefetch package
  configs/common/optional/shell-utils.nix
  configs/common/required/shell.nix
  deploy.nix
  pkgs/prefetch/default.nix
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

feat(yuri/homepage): make module to simplify homepage configuration
  configs/yuri/servers/default.nix
  configs/yuri/servers/home-assistant.nix
  configs/yuri/servers/homepage.nix
  configs/yuri/servers/paperless.nix
Due: deployment, deploy_yuri

fix(yuri): disable https, create homepage layout order
  configs/yuri/servers/caddy.nix
  configs/yuri/servers/home-assistant.nix
  configs/yuri/servers/homepage.nix
  configs/yuri/servers/paperless.nix
Due: deployment, deploy_yuri

fix(yuri): run home-assistant on loopback, create paperless db
  configs/yuri/servers/home-assistant.nix
  configs/yuri/servers/paperless.nix
Due: deployment, deploy_yuri

fix(yuri/homeassistant): configure for reverse proxy
  configs/yuri/servers/home-assistant.nix
Due: deployment, deploy_yuri

feat(yuri): add caddy-easify module, add image rotation for homepage
  configs/yuri/servers/caddy.nix
  configs/yuri/servers/default.nix
  configs/yuri/servers/home-assistant.nix
  configs/yuri/servers/homepage-image.nix
  configs/yuri/servers/homepage.nix
  configs/yuri/servers/paperless.nix
Due: deployment, deploy_yuri

feat(yuri): add immich
  configs/yuri/servers/default.nix
  configs/yuri/servers/immich.nix
  configs/yuri/servers/paperless.nix
Due: deployment, deploy_yuri

fix: add description to apps
  deploy.nix
  nvfetcher.nix
Due: none

Path conditions:
  build_pkgs: any of: flake.lock, pkgs/**/*
  deploy_thelessone: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deployment: (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**)
  deploy_yuri: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**
