Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

.woodpecker/build_pkgs.yaml:

when:
  - event: push
    branch: main
    path:
      include:
        - 'flake.lock'
        - 'pkgs/**/*'

labels:
  backend: local

depends_on:
  - flake_check

steps:
  - name: buildAll
    image: bash
    commands:
      - nix run .#buildAllx86Pkgs -- --no-nom --no-link

.woodpecker/deploy.yaml:

when:
  - event: push
    path:
      include:
        - 'flake.lock'
        - '{pkgs,configs,lib,homeModules,modules}/**/*.nix'
      exclude:
        - 'configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**'

labels:
  backend: local

depends_on:
  - flake_check

steps:
  - name: build
    image: bash
    commands:
      - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-nom
      - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)

  - name: deployment
    when:
      - event: deployment
      - branch: main
        evaluate: not (CI_COMMIT_MESSAGE endsWith `!nodeploy`)
    depends_on:
      - build
    image: bash
    environment:
      DEPLOYMENT_KEY:
        from_secret: DEPLOYMENT_KEY
    commands:
      - echo "$DEPLOYMENT_KEY" > deployment
      - chmod 400 deployment
      - nix --extra-experimental-features "nix-command flakes" run .#deploy-thelessone -- switch deployment

.woodpecker/deploy_thelessone.yaml:

when:
  - event: push
    path:
      include:
        - 'flake.lock'
        - '{pkgs,configs,lib,homeModules,modules}/**/*.nix'
      exclude:
        - 'configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**'

labels:
  backend: local

steps:
  - name: build
    image: bash
    commands:
      - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-link --no-nom

  - name: deployment
    when:
      - branch: main
        evaluate: not (CI_COMMIT_MESSAGE endsWith `!nodeploy`)
    depends_on:
      - build
    image: bash
    environment:
      DEPLOYMENT_KEY:
        from_secret: DEPLOYMENT_KEY
    commands:
      - echo "$DEPLOYMENT_KEY" > deployment
      - chmod 400 deployment
      - nix --extra-experimental-features "nix-command flakes" run .#deploy-thelessone -- switch deployment

.woodpecker/deploy_yuri.yaml:

when:
  - event: push
    path:
      include:
        - 'flake.lock'
        - '{pkgs,configs,lib,homeModules,modules}/**/*.nix'
      exclude:
        - 'configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**'

labels:
  backend: local

depends_on:
  - flake_check

steps:
  - name: build
    image: bash
    commands:
      - nix-fast-build -f .#nixosConfigurations.yuri.config.system.build.toplevel --no-nom
      - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)

  - name: deployment
    when:
      - event: deployment
      - branch: main
        evaluate: not (CI_COMMIT_MESSAGE endsWith `!nodeploy`)
    depends_on:
      - build
    image: bash
    environment:
      DEPLOYMENT_KEY_YURI:
        from_secret: DEPLOYMENT_KEY_YURI
    commands:
      - echo "$DEPLOYMENT_KEY_YURI" > deployment
      - chmod 400 deployment
      - nix --extra-experimental-features "nix-command flakes" run .#deploy-yuri -- switch deployment

chore: Update 12.06.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

fix(theme): vencord icon patch for midnight theme
  configs/common/optional/vencord-icon.patch
Due: none

feat: add lazy-apps
  configs/common/required/nix.nix
  configs/common/required/shell.nix
  configs/shirayuri/cam.nix
  configs/shirayuri/configuration.nix
  configs/shirayuri/default.nix
  configs/shirayuri/emulation.nix
  configs/shirayuri/gaming/default.nix
  configs/shirayuri/shell.nix
  flake.lock
  flake.nix
  lib/default.nix
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

feat(pkgs): add shoko from pull 350065
  lib/default.nix
  modules/shoko/default.nix
  pkgs/default.nix
  pkgs/shoko-webui/default.nix
  pkgs/shoko-webui/no-commit-hash.patch
  pkgs/shoko/default.nix
  pkgs/shoko/deps.json
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

chore: Update 12.06.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  pkgs/suwayomi-server/deps.json
  pkgs/versions.json
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

chore: Update 13.06.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

fix(pkgs): use nvchecker cuz it's nicer
  pkgs/_versions/new_versions.json
  pkgs/default.nix
  pkgs/nvchecker/custom-timeout.patch
  pkgs/nvchecker/default.nix
  pkgs/suwayomi-server/deps.json
  pkgs/versions.json
  source.toml
  update.nix
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

chore: Update 14.06.25
  flake.lock
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

feat(ci): add auto updates
  .gitignore
  .woodpecker/deploy_thelessone.yaml
  .woodpecker/update.yaml
  update.nix
Due: none

feat(pkgs): add drone-git-push
  pkgs/drone-git-push/default.nix
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

feat(thelessone/woodpecker): add git push
  configs/thelessone/servers/woodpecker.nix
Due: deploy, deployment, deploy_thelessone

fix(ci): thelessone -> thelessnas: connection
  .woodpecker/.deploy_thelessnas.yaml
  .woodpecker/deploy_thelessone.yaml
Due: none

feat(thelessone/woodpecker): add iputils
  configs/thelessone/servers/woodpecker.nix
Due: deploy, deployment, deploy_thelessone

fix(ci): use drone-git-push binary
  .woodpecker/update.yaml
Due: none

fix(pkgs/drone-git-push): use home from env
  pkgs/drone-git-push/default.nix
  pkgs/drone-git-push/home-from-env.patch
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

fix(ci): add codeberg as a known host
  configs/thelessone/servers/woodpecker.nix
Due: deploy, deployment, deploy_thelessone

fix(pkgs/drone-git-push): add ssh command option
  .woodpecker/update.yaml
  pkgs/drone-git-push/home-from-env.patch
Due: build_pkgs

chore: remove drone-git-push
  configs/thelessone/servers/woodpecker.nix
  pkgs/drone-git-push/default.nix
  pkgs/drone-git-push/home-from-env.patch
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

fix(ci): don't exit prematurely
  .woodpecker/update.yaml
Due: none

chore: Update 15.06.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

feat(thelessone): add shoko
  configs/thelessone/servers/default.nix
  configs/thelessone/servers/shoko.nix
  modules/default.nix
Due: deploy, deployment, deploy_thelessone, deploy_yuri

feat(thelessone/shoko): don't use dynamic user
  configs/thelessone/servers/shoko.nix
Due: deploy, deployment, deploy_thelessone

feat(pkgs): add automatic updates for shoko-webui
  nvfetcher.toml
  pkgs/shoko-webui/default.nix
  source.toml
  update.nix
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

fix(pkgs): use develop branch for arr stack
  nvfetcher.toml
Due: none

feat(pkgs): add shokofin
  modules/shoko/default.nix
  pkgs/shokofin/default.nix
  pkgs/shokofin/deps.json
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

fix(pkgs/suwayomi-server): set higher timeout for gradleDeps
  source.toml
Due: none

fix(pkgs/shoko-webui): set initial pnpm hash as lib.fakeHash
  pkgs/_versions/new_versions.json
Due: build_pkgs

feat(pkgs): init shoko-webui sources
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

fix(ci): remove try connection
  .woodpecker/.deploy_thelessnas.yaml
  .woodpecker/deploy_thelessone.yaml
Due: none

fix(pkgs/suwayomi-server): log gradle update script
  source.toml
  update.nix
Due: none

fix(thelessone/woodpecker): add awk, increase workflow amount
  configs/thelessone/servers/woodpecker.nix
Due: deploy, deployment, deploy_thelessone

fix(pkgs/shoko-webui): set pnpm hash
  pkgs/_versions/new_versions.json
Due: build_pkgs

fix: don't use $RANDOM variable
  source.toml
Due: none

fix(ci): use 4 workers at max
  .woodpecker/.deploy_thelessnas.yaml
  .woodpecker/deploy_thelessone.yaml
Due: none

fix: use mktemp
  source.toml
Due: none

chore: Update 16.06.25
  nvfetcher.toml
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  pkgs/_versions/new_versions.json
  pkgs/shoko-webui/default.nix
  pkgs/shoko/default.nix
  pkgs/shoko/deps.json
  pkgs/suwayomi-server/deps.json
  source.toml
  update.nix
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

chore: Update 16.06.25
  flake.lock
Due: build_pkgs, deploy, deployment, deploy_thelessone, deploy_yuri

fix(pkgs/shoko): add deps file to commit
  configs/thelessnas/zfs.nix
  update.nix
Due: deploy, deployment, deploy_thelessone, deploy_yuri

fix(ci): use correct option lol
  .woodpecker/.deploy_thelessnas.yaml
  .woodpecker/deploy_thelessone.yaml
Due: none
