Repository nanoyaki/flake: changes, and which Woodpecker steps are due for each by the changed paths.
All: build_pkgs, deploy_thelessone, deployment, deploy_yuri

build_pkgs:
  steps:
  - name: buildAll
    image: bash
    commands:
    - nix run .#buildAllx86Pkgs -- --no-nom --no-link

deploy_thelessone:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.thelessone.config.system.build.toplevel --no-link --no-nom
  - name: deployment
    when:
    - branch: main
      evaluate: not (CI_COMMIT_MESSAGE endsWith `!nodeploy`)
    depends_on:
    - build
    image: bash
  ...

deployment:
  depends_on:
  - build
  image: bash
  environment:
    DEPLOYMENT_KEY:
      from_secret: DEPLOYMENT_KEY
  commands:
  - echo "$DEPLOYMENT_KEY" > deployment
  - chmod 400 deployment
  - nix --extra-experimental-features "nix-command flakes" run .#deploy-thelessone -- switch deployment

deploy_yuri:
  steps:
  - name: build
    image: bash
    commands:
    - nix-fast-build -f .#nixosConfigurations.yuri.config.system.build.toplevel --no-nom
    - nix run nixpkgs#nvd -- diff /run/current-system $(readlink -f ./result-)
  - name: deployment
    when:
    - event: deployment
    - branch: main
  ...

fix(modules/lidarr): add to arr group
  modules/lidarr/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

feat(mpv): simplify mime types
  configs/common/optional/mediaplayers/mpv.nix
Due: deploy_thelessone, deployment, deploy_yuri

chore(shirayuri): disable norgb
  configs/shirayuri/default.nix
  configs/shirayuri/hardware/gpu.nix
Due: none

feat(shirayuri): add feishin
  configs/shirayuri/configuration.nix
Due: none

feat(modules/prowlarr): open flaresolverr to prowlarr
  modules/prowlarr/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

feat(modules/lidarr): use newer version
  modules/lidarr/default.nix
Due: deploy_thelessone, deployment, deploy_yuri

chore: Update 25.05.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  pkgs/_versions/new_ver.json
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

feat: migrate from nvchecker to own method
  configs/shirayuri/configuration.nix
  configs/shirayuri/secrets.yaml
  nvchecker.toml
  pkgs/_versions/new_ver.json
  pkgs/_versions/old_ver.json
  pkgs/default.nix
  pkgs/versions.json
  update.nix
  versions.toml
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

chore: Update 25.05.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  pkgs/versions.json
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

fix(pkgs/suwayomi-webui): apply new version file structure
  pkgs/suwayomi-webui/default.nix
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

feat(syncthing): change directory, set gid
  configs/common/optional/syncthing.nix
  configs/thelessone/servers/syncthing.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(pkgs): use root of versions.json
  pkgs/default.nix
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

feat(shirayuri): add mount for yuri
  configs/shirayuri/hardware/disks.nix
  configs/shirayuri/secrets.yaml
Due: none

feat(shirayuri): add mount for public directory on yuri
  configs/shirayuri/hardware/disks.nix
Due: none

feat(yuri/samba): change location to the nvme drives
  configs/yuri/servers/samba.nix
Due: deployment, deploy_yuri

chore(yuri): remove file server
  configs/yuri/servers/default.nix
  configs/yuri/servers/files.nix
Due: deployment, deploy_yuri

feat(lib): refactor
  configs/kuroyuri/default.nix
  configs/lesstop/default.nix
  configs/shirayuri/default.nix
  configs/thelessone/default.nix
  configs/yuri/default.nix
  lib/default.nix
  lib/deps.nix
  lib/modules.nix
  lib/types.nix
Due: deploy_thelessone, deployment, deploy_yuri

chore: Update 29.05.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  pkgs/suwayomi-server/deps.json
  pkgs/versions.json
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

fix(modules/immich): use category 'Media'
  modules/by-name/i/immich.nix
Due: deploy_thelessone, deployment, deploy_yuri

chore(pkgs,shirayuri): remove amdgpu-i2c, rename gpuOverclock -> overdrive
  configs/shirayuri/hardware/cpu.nix
  configs/shirayuri/hardware/gpu.nix
  pkgs/amdgpu-i2c/default.nix
  pkgs/amdgpu-i2c/i2c.patch
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

fix(ci): don't deploy yuri
  .woodpecker/deploy.yaml
  .woodpecker/deploy_yuri.yaml
Due: none

fix(modules/homepage): don't use any subdomain
  modules/by-name/h/homepage.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(home-assistant): use declarative config
  modules/by-name/h/home-assistant.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(modules/prowlarr): temp fix for silly reasons
  modules/by-name/p/prowlarr.nix
Due: deploy_thelessone, deployment, deploy_yuri

feat(modules/home-assistant): configure home assistant imperatively through the ui
  modules/by-name/h/home-assistant.nix
Due: deploy_thelessone, deployment, deploy_yuri

chore(shirayuri): remove gluetun
  configs/shirayuri/gluetun.nix
Due: none

chore: Update 30.05.25
  flake.lock
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

feat(thelessone,yuri): add restic backups for vaultwarden
  configs/thelessone/default.nix
  configs/thelessone/secrets.yaml
  configs/thelessone/vaultwarden.nix
  configs/yuri/secrets.yaml
  configs/yuri/servers/default.nix
  configs/yuri/servers/restic.nix
  modules/by-name/v/vaultwarden.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(thelessone/vaultwarden): systemd timer
  configs/thelessone/vaultwarden.nix
Due: deploy_thelessone, deployment

fix(yuri): fix cryptographic algorithm on restic-server htpasswd file
  configs/yuri/secrets.yaml
Due: none

feat(modules/caddy): use acme for certificates
  configs/thelessone/servers/lab.nix
  modules/by-name/c/caddy.nix
Due: deploy_thelessone, deployment, deploy_yuri

feat(thelessone/vaultwarden): add gmail smtp
  configs/thelessone/secrets.yaml
  configs/thelessone/servers/lab.nix
Due: deploy_thelessone, deployment

feat(yuri/home-assistant): set home zone
  configs/yuri/secrets.yaml
  configs/yuri/servers/media.nix
Due: deployment, deploy_yuri

feat(yuri/home-assistant): use secrets file
  configs/yuri/secrets.yaml
  configs/yuri/servers/media.nix
  modules/by-name/h/home-assistant.nix
Due: deploy_thelessone, deployment, deploy_yuri

feat(shirayuri): persist system yuri for deployment
  configs/shirayuri/configuration.nix
Due: none

feat: change fonts
  configs/common/optional/fonts.nix
  configs/common/optional/theme.nix
Due: deploy_thelessone, deployment, deploy_yuri

fix(modules/vopono): open ports to vopono interface
  modules/by-name/p/prowlarr.nix
  modules/by-name/v/vopono.nix
Due: deploy_thelessone, deployment, deploy_yuri

feat(modules): add whisparr
  configs/yuri/servers/media.nix
  modules/by-name/l/lab-config.nix
  modules/by-name/w/whisparr.nix
Due: deploy_thelessone, deployment, deploy_yuri

chore: Update 31.05.25
  configs/common/optional/desktopmanagers/gnome.nix
  configs/common/optional/theme.nix
  configs/common/required/input.nix
  configs/thelessone/gnome.nix
  flake.lock
  flake.nix
  pkgs/_sources/generated.json
  pkgs/_sources/generated.nix
  pkgs/versions.json
Due: build_pkgs, deploy_thelessone, deployment, deploy_yuri

Path conditions:
  build_pkgs: any of: flake.lock, pkgs/**/*
  deploy_thelessone: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**
  deployment: (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{yuri,lesstop,kuroyuri,shirayuri,meow}/**) or (any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**)
  deploy_yuri: any of: flake.lock, {pkgs,configs,lib,homeModules,modules}/**/*.nix, but not: configs/{thelessone,lesstop,kuroyuri,shirayuri,meow}/**
